.grid-5-columns, .grid-4-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}

.border-2px {
    border-width: 3px !important;
    border-color: rgb(16, 81, 16);
}

.check-tick {
    top: 10px; 
    left: 90%; 
    color: white;  
    background-color: #179317; 
    font-size: 0.625rem;
}

@media screen and (min-width: 400px) {
    .grid-5-columns, .grid-4-columns {
        grid-template-columns: repeat(3, 1fr);    
    }
 }

@media screen and (min-width: 800px) {
    .grid-5-columns {
        grid-template-columns: repeat(5, 1fr);
    }

    .grid-4-columns {
        grid-template-columns: repeat(4, 1fr);
    }
    
 }

 #payment-discount-view input{
    padding: 3px;
 }