@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root {
    --timeline-start-width-desktop: 100px;
    --timeline-start-width-mobile: 60px;
    --timeline-normal-width-desktop: 200px;
    --timeline-normal-width-mobile: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* Adjust the maximum width as needed */
}

.box {
    margin-right: 10px;
    /* Adjust the margin as needed for spacing between columns */
}

.description {
    margin-bottom: 5px;
}

input[type="time"] {
    width: 100%;
    /* Make the input boxes 100% wide within the .box */
}


/* Add this CSS to your existing stylesheet */

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="time"],
.form-group input[type="email"],
.form-group textarea,
.form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 20px;
    border: 1px solid #000000;
    background-color: transparent;
    /* Make the background transparent */
    transition: border-color 0.3s;
}

.form-group2 input{
    margin-bottom: 0px !important;
    padding: 6px 30px !important;
}

.form-group input[type="text"]:focus,
.form-group input[type="date"]:focus,
.form-group input[type="time"]:focus,
.form-group textarea:focus,
.form-group input[type="file"]:focus {
    border-color: #43A4D7;
}

.form-group .description {
    font-size: 14px;
    color: #6B6B6B;
}

.event-details-form {
    max-width: 80%;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="date"] {
    width: 48%;
    display: inline-block;
    margin-right: 2%;
}

.form-group input[type="time"] {
    width: 48%;
    display: inline-block;
    margin-right: 2%;
}

.form-group .date-label {
    display: inline-block;
    width: 48%;
    margin-right: 2%;
}

.form-group textarea {
    height: 120px;
    resize: vertical;
}

.form-group input[type="file"] {
    padding: 5px;
    border: none;
    background-color: transparent;
    box-shadow: none;
    outline: none;
}

.form-group input[type="file"]:hover {
    border: 1px solid #43A4D7;
}


/* Style for the banner upload container */

.featured-events {
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
}

.selectable-box {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    width: 30%;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    text-decoration: none;
    color: black;
    /* Set text color to black */
}

.selectable-box:hover {
    transform: scale(1.05);
}

.image-scroll-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    /* Center align the images */
}

.scroll-images {
    margin-right: 20px;
    /* Adjust the spacing between images */
    transition: opacity 0.3s, transform 0.3s;
    text-align: center;
    transform: scale(0.8);
    /* Make other images smaller */
    cursor: pointer;
}

.scroll-images.focused {
    opacity: 1;
    transform: scale(1.2);
}

.selectable-image {
    border-radius: 20px;
    transition: transform 0.3s;
    object-fit: cover;
}

.event_extra {
    margin-bottom: 3rem;
    overflow: visible;
    width: 230px;
    height: 350px;
    background: transparent;
    border: 2px solid rgb(90, 150, 230);
    border-radius: 40px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    position: relative;
}

.event {
    margin-bottom: 3rem;
    overflow: visible;
    width: 300px;
    height: 380px;
    background: transparent;
    border: 2px solid rgb(242, 93, 123);
    border-radius: 40px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    position: relative;
}

.event_1 {
    margin-bottom: 3rem;
    overflow: visible;
    width: 300px;
    height: 380px;
    background: transparent;
    border: 2px solid rgb(55, 186, 66);
    border-radius: 40px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    position: relative;
}

.event_2 {
    margin-bottom: 3rem;
    overflow: visible;
    width: 300px;
    height: 380px;
    background: transparent;
    border: 2px solid rgb(42, 139, 235);
    border-radius: 40px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    position: relative;
}

.event_status_1 {
    background-color: #bfc4c7;
    color: #fff;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
    width: 20%;
}

.event_status_2 {
    background-color: #78da1d;
    color: #fff;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
    width: 20%;
}

.event_status_3 {
    background-color: #43A4D7;
    color: #fff;
    border-radius: 25px;
    padding-left: 27px;
    padding-right: 30px;
    width: 20%;
    text-align: center;
}

.event_head {
    max-width: 5rem;
    max-height: 5rem;
    position: absolute;
    top: -3.5rem;
    left: 50%;
    /* Center horizontally */
    transform: translateX(-50%);
    /* Center horizontally */
    z-index: 2;
    /* Ensure it's above other content */
}

.event_head_container {
    text-align: center;
    position: relative;
    /* Add relative positioning to the container */
    z-index: 1;
    /* Set a lower z-index to keep the content below the image */
}


/* Style for the banner upload container */

.banner-upload {
    position: relative;
    text-align: center;
}


/* Style for the file input */

.banner-upload input[type="file"] {
    display: none;
}


/* Style for the banner preview */

.banner-preview {
    width: 100%;
    height: 200px;
    border: 2px dashed #ccc;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
}

.banner-preview img {
    max-width: 100%;
    max-height: 100%;
}

.event_row {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    /* Add padding here */
}

.icon_container {
    width: 20%;
    padding-left: 10px;
    /* Add right padding to create space */
}

.event_icon {
    width: 30px;
    height: 30px;
    display: block;
}

.info_container {
    flex-grow: 1;
    /* Expand to fill available space */
}

.info_container p {
    font-size: 16px;
    margin: 0;
}


/* Style for the upload button */

.upload-button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    color: #43A4D7;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s;
}

.upload-button:hover {
    background-color: rgba(67, 164, 215, 0.9);
    color: #fff;
}

.selectable-image {
    transition: transform 0.2s;
    /* Add a transform animation */
}

.selectable-image:hover {
    transform: scale(1.05);
    /* Scale the image to 120% on hover */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.d-none {
    display: none;
}

.d-none-at-mobile {
    display: none;
    margin: auto;
}

.d-centered-at-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.container-border {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.grid-2-columns, .grid-3-columns{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
}

.box_2nd {
    border: 1px solid black;
    flex: auto;
    background: transparent;
    padding: 20px;
    text-align: center;
    height: 300px;
    border-radius: 20px;
    transition: transform 0.2s;
    /* Add a transform animation */
    text-decoration: none;
    /* Remove underlines from links */
    color: black;
    /* Set text color to black */
}

.selectable-box {
    cursor: pointer;
    /* Add pointer cursor for selectable behavior */
}

.selectable-box:hover {
    transform: scale(1.05);
    /* Scale the box to 105% on hover */
}

.box_3rd {
    border: 1px solid black;
    flex: content;
    background: transparent;
    padding: 20px;
    text-align: center;
    height: 350px;
    width: 230px;
    border-radius: 20px;
}

main {
    background-image: url("/assets/images/event-management-bg.png");
    min-height: 100vh;
    max-height: 150vh;
    background-repeat: repeat-y;
}

.navbar {
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.navbar img,
.navbar svg,
nav img,
nav svg {
    cursor: pointer;
}

.navbar img:hover,
nav img:hover,
.navbar svg:hover,
nav svg:hover {
    transform: scale(1.1);
}

.navbar img:active,
nav img:active,
.navbar svg:active,
nav svg:active {
    transform: scale(1.1);
}

.navbar .nav-buttons {
    display: none;
}

.menu-toggle {
    display: block;
}

.search-bar {
    position: relative;
}

.search-bar input {
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 90px;
    width: 450px;
    max-width: 80vw;
    /* caret-color: #43A4D7;
    color: #43A4D7; */
}

.search-bar svg {
    position: absolute;
    top: 12px;
}

.swiper-container {
    display: none;
    width: 800px;
    max-width: 80vw;
    /* border: 1px solid black; */
    margin: auto;
    overflow-y: auto;
}

.swiper-wrapper {
    display: inline-flex;
    flex-direction: row;
    overflow-y: auto;
    justify-content: center;
}

.swiper-slide {
    text-indent: 45px;
    font-size: 1rem;
    width: var(--timeline-normal-width-mobile);
    height: 100%;
    position: relative;
}

.swiper-slide__left {
    width: var(--timeline-start-width-mobile) !important;
}

.time-line-box {
    height: 100px;
    padding: 30px 0;
    width: 100%;
    /* background-color: #dadefe; */
}

.time-line-box .timeline {
    list-style-type: none;
    display: flex;
    padding: 0;
    text-align: center;
}

.time-line-box .timestamp {
    margin: auto;
    margin-bottom: 5px;
    padding: 0px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-line-box .status {
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    border-top: 2px solid #95ADBD;
    width: var(--timeline-normal-width-mobile) ! important;
    position: relative;
    transition: all 200ms ease-in;
}

.time-line-box .status__left {
    padding: 0px 10px;
    display: flex;
    justify-content: flex-end;
    border-top: 2px solid #95ADBD;
    width: var(--timeline-start-width-mobile) ! important;
    position: relative;
    transition: all 200ms ease-in;
}

.time-line-box .status__right {
    padding: 0px 10px;
    display: flex;
    justify-content: flex-end;
    border-top: 2px solid #95ADBD;
    width: var(--timeline-start-width-mobile) ! important;
    position: relative;
    transition: all 200ms ease-in;
}

.time-line-box .status span {
    padding-top: 8px;
}

.time-line-box .status__left small {
    content: '';
    width: 12px;
    height: 12px;
    cursor: pointer;
    background-color: #95ADBD;
    border-radius: 12px;
    /* border: 2px solid #95ADBD; */
    position: absolute;
    left: 20%;
    top: 0%;
    transform: translateY(-50%) translateX(-100%);
    transition: all 200ms ease-in;
}

.time-line-box .status__right small {
    content: '';
    width: 12px;
    height: 12px;
    cursor: pointer;
    background-color: #95ADBD;
    border-radius: 12px;
    /* border: 2px solid #95ADBD; */
    position: absolute;
    right: -20%;
    top: 0%;
    transform: translateY(-50%) translateX(-100%);
    transition: all 200ms ease-in;
}

.time-line-box .status small {
    content: '';
    width: 12px;
    height: 12px;
    cursor: pointer;
    background-color: #95ADBD;
    border-radius: 12px;
    /* border: 2px solid #95ADBD; */
    position: absolute;
    left: 50%;
    top: 0%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: all 200ms ease-in;
}

.background-active-timeline {
    background: #43A4D7 !important;
}

.font-color-active-timeline {
    color: #43A4D7;
    text-decoration: underline;
}

input[type="button"],
.oceans-gaming-default-button {
    width: 200px;
    padding-top: 12px;
    padding-bottom: 13px;
    font-size: normal;
    margin-top: 0px;
    color: #fff;
    padding: 10px;
    border-radius: 30px;
    background: #43A4D7;
    border: none;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.1); */
}

.oceans-gaming-default-button {
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
}

.oceans-gaming-default-button:click {
    border: 0px solid black;
}

.oceans-gaming-transparent-button {
    background: transparent;
    border: 1px solid black;
    color: black;
}

.oceans-gaming-green-button {
    background: #8CCD39;
    color: white;
}

.oceans-gaming-gray-button {
    background: #A6A6A6;
    color: white;
}

input[type="submit"]:hover {
    background: #a3c3d3;
}

input[type="submit"]:active {
    background: #79b0cc;
}

.choose-payment-method {
    width: max-content !important;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto !important;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.selected-option.selected {
    background-color: #e6f7ff;
}

.drop {
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    /* Add some space between image and text */
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    /* Display the anchor tags as inline-block to make them flow horizontally */
}

.dropbtn {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 30px;
    /* color: white; */
    padding: 16px;
    font-size: 16px;
    /* border: none; */
    cursor: pointer;
}

.dropbtn-open {
    border-radius: 30px 30px 0 0;
}

.dropdown-container {
    display: flex;
    justify-content: space-around;
}

.dropbtn-arrow {
    margin-top: -25px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    left: 0;
    right: 0;
    border: 1px solid black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content:last-child {
    border-radius: 0 0 30px 30px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: black;
    text-decoration: none;
}

.welcome {
    margin-top: 40px;
    margin-bottom: 80px;
    font-weight: lighter;
    color: #2E4B59 !important;
}

.welcome p {
    width: 600px;
    margin: auto;
    font-weight: lighter;
    text-overflow: clip;
    font-size: larger;
}

.payment-summary {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: fit-content;
    text-align: left;
    border-radius: 30px;
    font-weight: lighter;
    color: #2E4B59 !important;
    border: 1px solid black;
    width: 600px;
    max-width: 80vw;
    margin: auto;
}

.box-width {
    max-width: 60vw !important;
    margin: auto !important;
}

.flexbox {
    display: flex;
    justify-content: space-between;

}

.radio-indent,
.radio-indent-hidden {
    margin-left: 20px;
    margin-bottom: 10px;
}

.radio-indent-hidden input[type='date'],
.radio-indent-hidden input[type='time'] {
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 13px;
}

@media screen and (min-width: 600px) {
    .swiper-container {
        display: block;
    }
    .grid-2-columns{
        grid-template-columns: 1fr 1fr;
    }
    .grid-3-columns{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .time-line-box .status__left small {
        left: 13%;
    }
    main {
        padding: auto 100px;
    }
    .payment-summary {
        padding-left: 40px;
        padding-right: 40px;
    }
    .flexbox {
        display: flex;
    }
    .search-bar {
        display: block;
    }
    .search-bar input {
        padding-left: 60px;
    }
    .navbar .nav-buttons {
        display: block;
    }
    .d-none-at-mobile {
        display: block;
    }
    .menu-toggle {
        display: none;
    }
    .d-centered-at-mobile {
        display: none;
    }
    .search-bar svg {
        left: 20px;
    }
    .swiper-slide {
        text-indent: 0px;
        font-size: 1rem;
        width: var(--timeline-normal-width-desktop);
    }
    .swiper-slide__left {
        width: var(--timeline-start-width-desktop) !important;
    }
    .time-line-box .status {
        width: var(--timeline-normal-width-desktop) ! important;
    }
    .time-line-box .status__left {
        width: var(--timeline-start-width-desktop) ! important;
    }
    .time-line-box .status__left span:before {
        left: 12%;
    }
    .time-line-box .status__right {
        width: var(--timeline-start-width-desktop) ! important;
    }
}
