
.member-table {
    width: 65%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 20px;
}

.member-table th,
.member-table td {
    padding: 8px;
    text-align: right;
}

.coloured-cell {
    background-color: #c3bebe;
}

.player-info {
    display: flex;
    align-items: center;
}

.player-image {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: cover;
    margin-right: 10px;
    transform: rotate(-20deg) skewX(10deg); 
    background-image: url('/assets/images/participants/crown-tilted.png');
}



.nationality-flag {
    width: 35px;
    height: 20px;
}

.rosterHis {
    align-items: center;
}
