
main {
    background-image: url("/assets/images/events/home_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #2E4B59;
    min-height: 100vh;

}

a {
    text-decoration: none;
}

.clickable-box {
    display: inline-block;
    transition: transform 0.2s ease;
    /* Smooth transition effect */
}

.clickable-box:hover {
    transform: scale(1.05);
    /* Increase the size by 5% on hover */
}

/* Hero Section */

.hero {
    background-image: url('/assets/images/events/hero-bg.jpg');
    background-size: cover;
    text-align: center;
    padding: 5rem 0;
    color: #fff;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.text__middle {
    padding-left: 15%;
    font-size: 1.25rem;
}
.text__middle p {
    font-size: larger;
}

.search-form {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input {
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 90px;
    width: 450px;
    max-width: 80vw;
    /* caret-color: #43A4D7;
    color: #43A4D7; */
}
.search-bar svg {
    position: absolute;
    top: 12px;
}


.search-form input[type="text"] {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    width: 70%;
}

.search-form button {
    background-color: #FF6C00;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}


/* Featured Events */

.featured-events {
    margin: 0 11vw;
    padding: 2rem 0 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.event {
    margin-bottom: 3rem;
    margin-left: 20px;
    margin-right: 20px;
    height: 430px;
    background: transparent;
    border: 2px solid rgb(8, 20, 58);
    border-radius: 40px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

.event_head {
    max-width: 5rem;
    max-height: 5rem;
    position: absolute;
}

.event_head_container {
    text-align: center;
    padding-top: 15px;
    font-size: larger;
}

.column {
    float: left;
    width: 33.33%;
}


/* ADDED CSS BY TALHA */

#smaller {
    font-size: smaller;
}

.event_head_container {
    color: #173646;
}

.frame1 {
    padding: 20px;
    justify-content: center;
}


/* Add hover effect */

.frame1 a:hover {
    opacity: 0.8;
}

.caption {
    color: #121148;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.team_logo {
    height: 75px;
    width: 75px;
}

.trophy {
    height: 100px;
    width: 100px;
    text-align: center;
}

.trophy_caption {
    text-align: center;
}


.league_name {
    text-align: left;
    padding-left: 20px;
}

.cover {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.event h3,
.event p {
    padding: 1rem;
}


/* Footer */

footer {
    text-align: center;
    color: #000000;
    
}

.frame1 {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 40px;
}

.event_status {
    margin: 0;
}

.logo2 {
    height: 50px;
}

.icons {
    height: 10px;
    width: 10px;
}

.hamburger-menu {
    display: none;
}

.featured-events .event_head,
.event_1 .event_head,
.event_2 .event_head {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-left: 125px;
    bottom: 160px;
}

.nav__items {
    padding: 20px;
}

@media (max-width: 1100px) {
    .featured-events .event_head,
    .event_1 .event_head,
    .event_2 .event_head {
        display: none;
    }
   
    .hamburger-menu {
        display: block;
        cursor: pointer;
    }
    .hamburger-menu i {
        cursor: pointer;
    }
    
    li {
        padding: 10px;
    }

    .text__middle {
        padding: 0 5vw;
        font-size: larger;
    }
    /* Featured Events */
    .featured-events {
        grid-template-columns: 1fr 1fr; 
        margin: 0 10vw;
    }
 
    .event_head_container {
        color: #173646;
    }
    .frame1 {
        width: "140px";
        height: "140px";
        padding: 20px;
        justify-content: center;
    }
    /* Add hover effect */
    .frame1 a:hover {
        opacity: 0.8;
    }
    .caption {
        color: #121148;
        font-size: 0.9em;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
}


/* Tablet Styles (iPad) ----------------------------------------*/

@media (max-width: 700px) {
    
    
    .featured-events {
        margin: 0 15vw;
        grid-template-columns: repeat(1, 1fr);
        
    }
    .event_head_container {
        color: #173646;
    }
    .frame1 {
        width: "160px";
        height: "160px";
        padding: 20px;
        justify-content: center;
    }
    /* Add hover effect */
    .frame1 a:hover {
        opacity: 0.8;
    }
    .caption {
        color: #121148;
        font-size: 0.8em;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
}
