@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


.d-none-at-mobile {
    display: none;
    margin: auto;
}

.d-none-at-desktop {
    display: auto;
}



main {
    width: 100%;
    min-height: 115vh;
    display: block !important;
    padding: 0px 10px;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/images/event-management-bg.png");
}


img.larger-hover:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.rounded-box:hover{
    transform: scale(1.03, 1.05);
}

 .group-hover-flexbox{
    display: flex;
    justify-content: space-around;
}

.search-bar2-adjust {
    margin-left: 30px;
}

.search-bar {
    position: relative;
}

.search-bar input {
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 90px;
    width: 450px;
    max-width: 80vw;
    /* caret-color: #43A4D7;
    color: #43A4D7; */

}

.search-bar svg {
    position: absolute;
    top: 12px;
}


input[type="submit"],
.oceans-gaming-default-button {
    width: 200px;
    padding-top: 12px;
    padding-bottom: 13px;
    font-size: normal;
    margin-top: 0px;
    color: #fff;
    padding: 10px;
    border-radius: 30px;
    background: #43A4D7;
    border: none;
    cursor: pointer;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.1); */
}

.oceans-gaming-default-button-small {
    width: 80px !important;
    padding: 2px 3px !important;
}

.oceans-gaming-default-button {
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}


.flexbox-welcome {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: lighter;
}

.flexbox-filter {
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
    width: 100%;
}

.flexbox-centered-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 40px 1%;
    padding: 5% 15% 15% 15%;
}

a {
    color: black !important;
}


input[type="submit"]:hover {
    background: #a3c3d3;
    cursor: pointer;
}

input[type="submit"]:active {
    background: #79b0cc;
}

.rounded-box {
    position: relative;
    border-radius: 30px 30px;
    border-width: 3px;
    border-style: solid;
    /* #8CCD39 */
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    z-index: 1;
  
}

.rounded-box-no-tier {
    border-color: rgb(180, 180, 180) !important;
}


.rounded-box-turtle {
    border-color: #8CCD39;
}

.rounded-box-dolphin {
    border-color: #43A4D7;
}

.rounded-box-starfish {
    border-color: #F25D7B;
}

.rounded-box-mermaid {
    border-color: #2E4B59;
}

.rounded-box .centered-absolute-game-tier {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -40px;
    text-align: center;
    margin: auto;
}

.rounded-box a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.rounded-box a:hover {
    color: black;
    text-decoration: none;
}

.box-width {
    width: 600px !important;
    max-width: 80vw !important;
    margin: auto !important;
}

.card-image {
    width: 100%;
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

.card-image-turtle {
    border-bottom-color: #8CCD39;
}

.card-image-dolphin {
    border-bottom-color: #43A4D7;
}

.card-image-mermaid {
    border-bottom-color: #2E4B59;
}

.card-image-starfish {
    border-bottom-color: #F25D7B;
}

.card-image img {
    width: 100%;
    aspect-ratio: 7/3;
    object-fit: cover;
    overflow: hidden;
    border-radius: 30px 30px 0 0;
}

.card-text {
    padding: 10px 20px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* height: 400px; */
}

.card-text-2-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    max-height: 50px;
    min-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0px !important;
}

.card-text .small-text {
    margin-top: 0px;
    font-size: smaller;
}

@media screen and (min-width: 800px) {
    .grid-container {
        padding: 5% 10% 10% 10%;
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (min-width: 1100px) {
    .flexbox-filter {
        width: 50%;
    }

    .search-bar2-adjust {
        margin-left: 0px;
    }

    main {
        padding: 20px 60px;
    }

    .d-none-at-desktop {
        display: none;
    }

    .flexbox {
        display: flex;
        justify-content: space-between;
    }

    .search-bar {
        display: block;
    }

    .search-bar input {
        padding-left: 60px;
    }

   

    .d-none-at-mobile {
        display: block;
    }

    .menu-toggle {
        display: none;
    }

    .d-centered-at-mobile {
        display: none;
    }

    .search-bar svg {
        left: 20px;
    }

    .grid-container {
        padding: 5% 2%;
        grid-gap: 10px;
        grid-template-columns: repeat(3, 1fr);
    }

}

@media screen and (min-width: 1200px) {
    .search-bar input {
        width: 600px;
    }

    main {
        padding: 20px 60px;
    }

    .grid-container {
        padding: 0px;
        grid-template-columns: repeat(4, 1fr);
    }
}

.checked {
    color: orange;
}

/* Dropdown */
.drop {
    display: flex;
    align-items: center;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
}

.dropbtn {
    background-color: #F8F7F0;
    border: 1px solid black;
    border-radius: 30px;
    cursor: pointer;
}

.dropbtn:active {
    outline: none !important;
}

.button-design-removed{
    background-color: transparent;
    border-width: 0px !important;
}

.button-design-removed:active{
    outline: none !important;
    border-width: 0px !important;
}

.min-w-150px {
    min-width: 150px;
    max-width: max-content;
}

.min-w-170px {
    min-width: 170px;
    max-width: max-content;
}

.min-w-200px {
    min-width: 200px;
}

.min-w-250px {
    min-width: 250px;
}

#filter-option label, .sort-box{
   font-size: 0.875rem !important; 
}