

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/images/event-creation-bg.png");
    background-size: cover;
    margin: 0;
    min-height: 100vh;
    background-size: auto 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


.menu-toggle {
    display: block;
}


@media screen and (min-width: 600px) {
    .swiper-container {
        display: block;
    }
}

.member-section {
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.team-logo-container {
    position: relative;
}

.team-logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.settings-icon {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.team-name {
    margin-top: 10px;
    font-size: 1.5rem;
    color: #2E4B59;
}

.upload-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 20px 20px;
}

.circle-container {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.uploaded-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    /* Default image URL */
}

.upload-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0;
    /* Initially invisible */
    transition: opacity 0.3s ease;
}

.circle-container:hover .upload-button {
    opacity: 1;
    /* Make button visible on hover */
}

.tabs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: min(90vw, 1000px);
    margin: auto;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.tab-size {
    width: min(90vw, 1000px);
    margin: auto;
}

.tab-button {
    background-color: transparent;
    color: #000;
    padding: 15px 25px;
    flex-grow: 1;
    max-width: 25vw;
    min-width: 150px;
    /* Increased padding */
    border: none;
    border-bottom: 2px solid transparent;
    margin: 0 10px;
    cursor: pointer;

}

.tab-button:hover, .tab-button-active {
    border-bottom: 2px solid #000;
}
.tab-button:active {
    box-shadow: 0px 0px 1px 1px black;    /* Thin border-like shadow */
    border-bottom: 0px solid #000;

}

.recent-events {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
    padding: 20px;
}

.event-carousel {
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.event-box {
    width: 300px;
    padding: 15px;
    margin-right: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    scroll-snap-align: start;
}

.carousel-button {
    background-color: #1e3744;
    color: #fff;
    padding: 15px 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.carousel-button-disabled {
    opacity: 0.35;
    cursor: not-allowed !important;
}


.member-details {
    width: min(600px, 100%);
    padding: 0px;
}


.team-info {
    display: flex;
    justify-content: space-around;
}

.achievement,
.showcase {
    width: 45%;
    padding: 20px;
}

.showcase-box {
    background-color: #ffffff;
    border: solid #1e3744;
    border-radius: 1px;
    padding: 15px;
}

.showcase-column {
    flex: 1;
}

.trophy {
    width: 50px;
    /* Adjust the size as needed */
    height: auto;
    margin-top: 10px;
}

.achievement-list {
    list-style-type: none;
    padding: 0;
}

.achievement-list li {
    margin-bottom: 10px;
    background-color: #1e3744;
    padding: 10px;
    border-radius: 5px;
    color: #a8a3a3;
}

.achievement-complete {
    margin-left: 5px;
    color: #ffffff;
    /* Adjust the color as needed */
}

.member-table {
    width: min(90vw, 1000px);
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 20px;
}

.member-table th,
.member-table td {
    padding: 8px;
    text-align: left;
    vertical-align: middle !important;
}

.nf {
    background-color: transparent;
}

.player-info {
    display: flex;
    align-items: center;
}

.player-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: cover;
    margin-right: 10px;
}


.player_event {
    margin: 0;
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
}

.event {
    margin-bottom: 3rem;
    overflow: auto;
    width: 500px;
    background: transparent;
    border: 2px solid rgb(82, 159, 23);
    border-radius: 40px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    align-content: center;
}

.event_2 {
    margin-bottom: 3rem;
    overflow: auto;
    width: 350px;
    height: 430px;
    background: transparent;
    border: 2px solid rgb(16, 22, 68);
    border-radius: 40px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

.event_status_1 {
    background-color: #bfc4c7;
    color: #fff;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
    width: min-content;
}

.event_status_2 {
    background-color: #78da1d;
    color: #fff;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
    width: min-content;
}

.event_status_3 {
    background-color: #43A4D7;
    color: #fff;
    border-radius: 25px;
    padding-left: 27px;
    padding-right: 30px;
    width: 20%;
    text-align: center;
}

.event_head {
    max-width: 5rem;
    max-height: 5rem;
    position: absolute;
}

.event_head_container {
    text-align: center;
}

.frame1 {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 40px;
}

.logo2 {
    height: 40px;
    width: 50px;
}

.cover {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.trophy {
    height: 100px;
    width: 100px;
    text-align: center;
}

.trophy_caption {
    text-align: center;
}

.league_caption {
    font-size: 1.25rem;
}

.league_name {
    text-align: left;
    padding-left: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.left-col {
    width: 49%;
    text-align: left;
    display: flex;
    padding: 5px;
}

.right-col {
    width: 49%;
    text-align: right;
    display: flex;
    padding: 5px;
}

.icons {
    height: 15px;
    width: 15px;
}

.icons-game {
    height: 20px;
    width: 20px;
}

.action-buttons-container {
    display: flex;
    justify-content: space-between;
}

.cross-button,
.tick-button {
    background: none;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
}

.cross-button {
    color: red;
}

.tick-button {
    color: green;
}

.cross-button:hover,
.tick-button:hover {
    color: darkred;
}

tr:nth-child(odd) .colored-cell {
    background-color: #d9d9d9;
}

tr:nth-child(even) .colored-cell {
    background-color: #cccaca;

}


.nd {
    background-color: #807d7d;
}

.player-info {
    display: flex;
    align-items: center;
}


@media screen and (min-width: 1000px) {
    .member-section {
        padding-top: 0px;
    }

    main {
        background-size: 100vw 100vh;
    }
}


.player-profile__input, 
.form-control.player-profile__input:focus {
    box-shadow: none !important;
    border-width: 0px !important;
    border-bottom-width: 2px !important; 
    border-bottom-style: dotted !important;
    background-color: transparent !important;
    border-radius: 0px !important;
    color: black;
}



.iti, .iti--allow-dropdown, .iti--show-flags, .iti--inline-dropdown {
    background-color: transparent !important;
}

.easylogic-colorpicker .color-list, .easylogic-colorpicker .menu{
    display: none !important;
}

.color-pallete{
    width: 30px;
    height: 30px;
}

.color-pallete:hover {
    outline: 4px solid white;
    outline-offset: -5px;
    border: 3px solid gray;
    cursor: pointer;
}

.color-active {
    outline: 4px solid white;
    outline-offset: -5px;
    border: 5px solid #43A4D7;
    cursor: pointer;
}
.custom-file-container .label-container {
    display: none !important;
}

.tab-button-override {
    padding-left: 0px;
     padding-right: 0px; 
     max-width: 200px !important;
     width: 200px !important;
     margin-right: 20px !important;
}

img.fslightbox-source{
   aspect-ratio: 1/1;
}


