
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.d-none {
    display: none !important;
}

.d-none-at-mobile,
.side-image {
    display: none;
    margin: auto;
}

.d-none-at-desktop {
    display: auto;
}

.d-centered-at-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

main{
    width: 100%;
    min-height: 115vh;
    display: block !important;
    padding: 0px 5px;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/images/event-management-bg.png");
    background-size: auto 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


svg{
    position: relative;
    top: 5px;
    cursor: pointer;
}


.search-bar2-adjust {
    margin-left: 30px;
}



.menu-toggle {
    display: block;
}


.search-bar {
    position: relative;
}

input[type="submit"],
.oceans-gaming-default-button {
    width: 200px;
    padding-top: 12px;
    padding-bottom: 13px;
    font-size: normal;
    margin-top: 0px;
    color: #fff;
    padding: 10px;
    border-radius: 30px;
    background: #43A4D7;
    border: none;
    cursor: pointer;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.1); */
}

.oceans-gaming-default-button-small {
    width: 80px !important;
    padding: 2px 3px !important;
}

.oceans-gaming-default-button {
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.oceans-gaming-default-button[disabled] {
    background-color: #8CCD39;
    color: rgb(84, 82, 82) !important; /* Set text color to contrast with the background */
    cursor: not-allowed; /* Change cursor to not-allowed when disabled */
}


.flexbox-welcome {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
}

.flexbox-filter {
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
    width: 100%;
}

.flexbox-centered-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1%;
    padding: 0% 5%;
}


input[type="submit"]:hover {
    background: #a3c3d3;
    cursor: pointer;
}

input[type="submit"]:active {
    background: #79b0cc;
}

.rounded-box {
    border-radius: 30px 30px;
    border-width: 3px;
    border-style: solid;
    min-width: 80%;
    z-index: 1;
}

.rounded-banner {
    border-radius: 30px 30px;
    border-width: 3px;
    border-style: solid;
    z-index: 1;
    max-width: 100%;
    
}


.rounded-banner-parent:hover .rounded-banner {
    animation: grayscale 2s ease-in-out;
}

@keyframes grayscale {
    0% {
        filter: grayscale(1);

    }
    50% {
        filter: grayscale(0);
    }
    
    100% {
        filter: grayscale(0);
    }
}

.rounded-box-turtle {
    border-color: #8CCD39;
}

.rounded-box-dolphin {
    border-color: #43A4D7;
}

.rounded-box-starfish {
    border-color: #F25D7B;
}

.rounded-box-mermaid {
    border-color: #2E4B59;
}

.rounded-image {
    border-radius: 50% !important;
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-style: solid;
}

.rounded-box a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.rounded-box a:hover {
    color: black;
    text-decoration: none;
}

.box-width {
    width: 600px !important;
    max-width: 80vw !important;
    margin: auto !important;
}

.card-image-holder {
    border-radius: 30px 30px;
}


.height-image {
    height: 180px;
}

.card-image {
    border-radius: 30px 30px 0 0;
    width: 90%;
    height: 35vh;
    object-fit: cover;
    object-position: center;
    text-align: center;
    overflow: hidden;
    border-radius: 30px 30px;
    display: flex;
    border-width: 2px;
    border-style: solid;
    align-items: start;
}

.side-image {
    width: 100%;
    max-height: 60vh;
}

.side-image-absolute-top {
    position: absolute;
    bottom: 40vh;
}

.side-image-absolute-bottom {
    position: absolute;
    bottom: 5vh;
}

.side-image-turtle {
    border-bottom-color: #8CCD39;
}

.side-image-dolphin {
    border-bottom-color: #43A4D7;
}

.side-image-mermaid {
    border-bottom-color: #2E4B59;
}

.side-image-starfish {
    border-bottom-color: #F25D7B;
}

.card-image-turtle {
    border-color: #8CCD39;
}

.card-image-dolphin {
    border-color: #43A4D7;
}

.card-image-mermaid {
    border-color: #2E4B59;
}

.card-image-starfish {
    border-color: #F25D7B;
}

.card-text {
    padding: 10px 10px 0px 10px;
}

.card-text .small-text {
    margin-top: 0px;
    font-size: smaller;
}

.card-subtitle {
    background-color: #D9D9D9;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-organizer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid-container-two-columns-at-desktop {
    display: grid;
    grid-template-columns: 1fr;
}


/* Style the tab */
.tab {
    overflow: hidden;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    /* border: 1px solid #ccc; */
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    /* float: left; */
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 16px;
    transition: 0.3s;
    font-size: 1.0625rem;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    border-bottom-width: 2px;
    border-bottom-style: solid;    
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 15px 10px;
    /* border: 1px solid #ccc; */
    border-top: none;
}

.image-at-top {
    position: absolute;
    top: -20px;
    width: 60px;
    height: 60px;
}

@media screen and (min-width: 992px) {
    .height-image {
        height: 35vh;
    }

    main {
        background-size: 100vw 100vh;
    }

    .side-image-absolute-top{
        bottom: 40vh;
        right: -5vh;
    }

    .side-image-absolute-bottom {
        bottom: -15vh;
    }

    .d-lg-none {
        display: none;
    }
    .rounded-banner {
        max-width: 80%;
    }

    .flexbox-filter {
        width: 50%;
    }

    .search-bar2-adjust {
        margin-left: 0px;
    }

    main {
        padding: 20px 100px;
    }

    .d-none-at-desktop {
        display: none;
    }

    .flexbox {
        display: flex;
        justify-content: space-between;
    }

    .search-bar {
        display: block;
    }

    .search-bar input {
        padding-left: 60px;
    }

    

    .d-none-at-mobile {
        display: block;
    }

    .side-image {
        display: flex;
        justify-content: center;
        position: relative;
    }

    .menu-toggle {
        display: none;
    }

    .d-centered-at-mobile {
        display: none;
    }

    .search-bar svg {
        left: 20px;
    }

    .grid-container {
        padding: 0px;
        grid-template-columns:  0.5fr 4fr 0.5fr;
    }

    .grid-container-two-columns-at-desktop {
        grid-template-columns: 1fr 0.5fr;
    }

    .side-image-absolute-bottom {
        left: -90px;
    }
}

@media screen and (min-width: 1200px) {
    .height-image {
        height: 35vh;
    }
    
    .search-bar input {
        width: 600px;
    }

    .grid-container {
        padding: 0px;
        grid-template-columns: 0.75fr 4fr 0.75fr;
    }

    .side-image-absolute-bottom {
        left: -5vw;
        bottom: -10vh;
    }

    .side-image-absolute-top{
        bottom: 40vh;
    }
}

.svg-fix {
    position: relative;
    top: 5px;
}