@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.text-dark {
    color: rgb(97, 97, 97) !important;
}

.hero-section {
    background-color: #94a3b8;
    min-height: 30vh;
}

.description-section {
    background-image: url('/assets/images/landing page assets/landing page bg.png');
    background-size: cover;
    background-position: bottom;
    min-height: 500px;
    width: 100vw;
}

.icon-bg-yellow {
    background: linear-gradient(90deg, #ffde59, #ff914d);
    border: 4px solid white;
}

.icon-bg-emerald {
    background: linear-gradient(90deg, #0097b2, #79ed97);
    border: 4px solid white;
}

.icon-bg-purple {
    background: linear-gradient(90deg, #5170ff, #ff66c4);
    border: 4px solid white;
}

.submit-button {
    background: linear-gradient(90deg, #5de0e6, #004aad);
    border: 2px solid white;
}


@media screen and (min-width: 1000px) {
    body {
        max-height: 100vh;
        overflow-y: hidden;
    }

    .description-section {
        background-position: bottom;
        min-height: 65vh;
        width: 100vw;
    }
}