// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
@import './bootstrap/swal.scss';
// Variables
@import 'variables';
@import "aos/dist/aos.css";



// Bootstrap
@import './bootstrap/bootstrap.css';
@import './bootstrap/app-custom.scss';