// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
@import 'variables';
@import './bootstrap/bootstrap.css';


@import './bootstrap/swal.scss';
@import './bootstrap/app-custom.scss';
/*! purgecss start ignore */

// Variables
@import "aos/dist/aos.css";
@import "css-ripple-effect/dist/ripple.min.css";
/*! purgecss end ignore */
