// Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:wght@300;500;600&display=swap');
@import 'variables';
@import './bootstrap/bootstrap.css';
@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/themes/light.css';


.text-justify {
  text-align: justify;
}

.tippy-box[data-theme~='light'] {
  background-color: #F8F7F0;
}

table.responsive {
  // border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
}

table.responsive thead {
  display: table-column;
}

table.responsive th,
table.responsive td {
  text-align: left;
}


table.responsive td img {
  text-align: left;
}

@media screen and (max-width: 600px) {

  table.responsive {
    border: 0;
  }

  table.responsive caption {
    font-size: 1.3em;
  }

  table.responsive thead {
    display: none;
  }

  table.responsive tr {
    display: block;
    margin-bottom: .625em;
  }

  table.responsive td {
    display: block;
    text-align: left;
  }

  table.responsive td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table.responsive td:last-child {
    border-bottom: 0;
  }
}


@import './bootstrap/swal.scss';
@import './bootstrap/app-custom.scss';

// Variables
/*! purgecss start ignore */
.notification-black {
  color: black;
}

.notification-gray {
  color: black;
}

.notification-blue {
  color: #43A4D7;
}

.notification-gold {
  color: goldenrod;
}

.notification-container-not-read {
  text-align: justify !important;
}

.notification-container-read {
  text-align: justify !important;
}

.dropdown-menu {
  animation: 1s modalDropdownAnimate;
}

.modal-body {
  animation: 1s modalDropdownAnimate;
}


@keyframes modalDropdownAnimate {
  0% {
    scale: 1.05;
  }

  100% {
    scale: 1.0;
  }
}

button {
  position: relative;
  overflow: hidden
}

.simple-button:hover,
button:hover {
  scale: 1.05;
}

button:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 200px;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s
}

button:active:after {
  transform: scale(0, 0);
  opacity: .2;
  transition: 0s
}

.simple-button:active {
  opacity: 0.7;
}

::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);  
  border-radius: 5px; 
  border: 2px solid transparent; 
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.6);  
}

/*! purgecss end ignore */