// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
@import 'sweetalert2/src/sweetalert2.scss';
@import './swal.scss';
// Variables
@import 'variables';


// Bootstrap
@import './bootstrap/bootstrap.css';
@import './app.css';