// Fonts
// resources/sass/_fonts.scss

// Poppins Font Face Declarations

@view-transition { navigation: auto; } 


.nav-link:hover {
  color: #43A4D7 !important;
}
@font-face {
  font-family: 'Poppins';
  src: url('https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+1F1E6-1F1FF;
}

@font-face {
  font-family: 'Poppins';
  src: url('https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+1F1E6-1F1FF;
}

@font-face {
  font-family: 'Poppins';
  src: url('https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+1F1E6-1F1FF;
}

@font-face {
  font-family: 'Nunito';
  src: url('https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofIO-aBXso.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+1F1E6-1F1FF;
}

@font-face {
  font-family: 'Nunito';
  src: url('https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofINeaBXso.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+1F1E6-1F1FF;
}

@font-face {
  font-family: 'Nunito';
  src: url('https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofINeaBXso.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+1F1E6-1F1FF;
}
// Font Utility Classes
.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-nunito {
  font-family: 'Nunito', sans-serif;
}

@import 'variables';
@import './bootstrap/bootstrap.css';
@import './bootstrap/event-status.scss';
@import './bootstrap/dynamic-select.scss';
@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/themes/light.css';
@import 'litepicker/dist/css/litepicker.css';
@import 'flatpickr/dist/flatpickr.css';
@import '@yaireo/tagify/dist/tagify.css';
@import  'cropperjs/dist/cropper.css';
@import '@easylogic/colorpicker/dist/colorpicker.css';
@import 'intl-tel-input/build/css/intlTelInput.css';
img.fslightbox-source{
  min-height: 50vh !important;
  max-height: 80vh !important;
  object-fit: cover;
  width: auto !important;
  max-width: 80vw !important;
}



.special-font-signinin {
  letter-spacing: 0.1em;
  transform: translateY(1.10);
  text-transform: uppercase;
  font-size: small !important;
}

.text-justify {
  text-align: justify;
}

.tippy-box[data-theme~='light'] {
  background-color: #F8F7F0;
}

div.tippy-arrow {
  display: none !important;
}

table.responsive {
  // border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
}

table.responsive thead {
  display: table-column;
}

table.responsive th,
table.responsive td {
  text-align: left;
}


table.responsive td img {
  text-align: left;
}

@media screen and (max-width: 1000px) {
  
  table.responsive {
    border: 0;
  }

  table.responsive caption {
    font-size: 1.3em;
  }

  table.responsive thead {
    display: none;
  }

  table.responsive tr {
    display: block;
    margin-bottom: .625em;
  }

  table.responsive td {
    display: block;
    text-align: left;
  }

  table.responsive td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table.responsive td:last-child {
    border-bottom: 0;
  }
}


@import 'sweetalert2/src/sweetalert2.scss';

@import './bootstrap/app-custom.scss';

// Variables
/*! purgecss start ignore */
.notification-black {
  color: black;
}

.notification-gray {
  color: black;
}

.notification-blue {
  color: #43A4D7;
}

.notification-gold {
  color: goldenrod;
}

.notification-list {
  max-height: 65vh;
  overflow-y: auto;
}

.notification-list button {
  transition: none !important;
}

.notification-list button:hover {
  transition: none !important;
  transform: none !important;
}


.notification-container-not-read {
  text-align: justify !important;
}

.notification-container-read {
  text-align: justify !important;
}

.dropdown-menu {
  animation: 1s dropdownAnimate;
}



@keyframes dropdownAnimate {
  0% {
    scale: 1.03;
  }

  100% {
    scale: 1.0;
  }
}

button {
  position: relative;
  overflow: hidden
}

.simple-button:hover,
button:hover {
  scale: 1.05;
}

u {
  font-weight: 600 !important;
  text-decoration: none !important;
}

button:active:after {
  transform: scale(0, 0);
  opacity: .2;
  transition: 0s
}

.simple-button:active {
  opacity: 0.7;
}


tr .colored-cell {
  background-color: #d9d9d9;

}



.rounded-circle2{
  width: 30px !important;
  height: 30px !important;
  border: 2px solid #95ADBD;
  border-radius: 50%;
}

.bg-none {
  background: none !important;
}


/*! purgecss end ignore */