// Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:wght@400;500;600&display=swap');
@import 'variables';
@import './bootstrap/bootstrap.css';




// damn, underrated bootstrap responsiveness! amazing goat
// $utilities: (
//   // ...
//   "color": (
//       property: color,
//       class: text,
//       local-vars: (
//         "text-opacity": 1
//       ),
//       values: map-merge(
//         $utilities-text-colors,
//         (
//           "muted": var(--#{$prefix}secondary-color), // deprecated
//           "black-50": rgba($black, .5), // deprecated
//           "white-50": rgba($white, .5), // deprecated
//           "body-secondary": var(--#{$prefix}secondary-color),
//           "body-tertiary": var(--#{$prefix}tertiary-color),
//           "body-emphasis": var(--#{$prefix}emphasis-color),
//           "reset": inherit,
//         )
//       )
//     ),
//     // ...
// );
@import './bootstrap/swal.scss';
@import './bootstrap/app-custom.scss';

// Variables
/*! purgecss start ignore */
.notification-black {
    color: black;
}

.notification-gray {
    color: black;
}

.notification-blue {
    color: #43A4D7;
}

.notification-gold {
    color: goldenrod;
}

.notification-container-not-read {
    text-align: justify !important;
}

.notification-container-read {
    text-align: justify !important;
}

.dropdown-menu {
    animation: 1s modalDropdownAnimate;
  }

  .modal-body {
    animation: 1s modalDropdownAnimate;
  }

  
  @keyframes modalDropdownAnimate {
    0% {
        scale: 1.05;
    }

    100% {
        scale: 1.0;
    }
  }

  button{position:relative;overflow:hidden}
  .simple-button:hover,button:hover{
    scale: 1.05;
  }
  button:after{content:"";display:block;position:absolute;width:100%;height:100%;top:0;left:0;border-radius: 200px; background-image:radial-gradient(circle,#000 10%,transparent 10.01%);background-repeat:no-repeat;background-position:50%;transform:scale(10,10);opacity:0;transition:transform .5s,opacity 1s}
  button:active:after{transform:scale(0,0);opacity:.2;transition:0s}
  .simple-button:active{opacity:0.7;}
/*! purgecss end ignore */
