// Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:wght@400;500;600&display=swap');
@import 'variables';
@import './bootstrap/bootstrap.css';

// damn, underrated bootstrap responsiveness! amazing goat
// $utilities: (
//   // ...
//   "color": (
//       property: color,
//       class: text,
//       local-vars: (
//         "text-opacity": 1
//       ),
//       values: map-merge(
//         $utilities-text-colors,
//         (
//           "muted": var(--#{$prefix}secondary-color), // deprecated
//           "black-50": rgba($black, .5), // deprecated
//           "white-50": rgba($white, .5), // deprecated
//           "body-secondary": var(--#{$prefix}secondary-color),
//           "body-tertiary": var(--#{$prefix}tertiary-color),
//           "body-emphasis": var(--#{$prefix}emphasis-color),
//           "reset": inherit,
//         )
//       )
//     ),
//     // ...
// );
@import './bootstrap/swal.scss';
@import './bootstrap/app-custom.scss';

// Variables
/*! purgecss start ignore */
@import "css-ripple-effect/dist/ripple.min.css";
/*! purgecss end ignore */
