// Fonts
// resources/sass/_fonts.scss

// Poppins Font Face Declarations

.nav-link:hover {
    color: #43A4D7 !important;
}



@font-face {
    font-family: 'Inter';
    src: url('https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hiA.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



@font-face {
    font-family: 'Inter';
    src: url('https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYAZ9hiA.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@import 'variables';
@import './bootstrap/bootstrap.css';
@import './bootstrap/event-status.scss';

@import 'sweetalert2/src/sweetalert2.scss';

@import './bootstrap/app-custom.scss';


button {
    position: relative;
    overflow: hidden
}

button:hover {
    scale: 1.05;
}

button:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 200px;
    background-image: radial-gradient(circle, #2e4b59 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s
}

u {
    font-weight: 600 !important;
    text-decoration: none !important;
}

button:active:after {
    transform: scale(0, 0);
    opacity: .2;
    transition: 0s
}


body.about {
    font-family: 'Inter', sans-serif;
    background-color: #94a3b8;
    color: #334155;
}


body.contact {
    font-family: 'Inter', sans-serif;
    background-color: #90abc4;
}



@media screen and (min-width: 1000px) {
    body.about {
        max-height: auto !important;
        overflow-y: auto !important;
    }

    body.contact {
        max-height: 100vh;
        overflow-y: hidden !important;
    }

    body {
        max-height: 100vh;
        overflow-y: hidden !important;
    }

    .description-section {
        background-position: bottom;
        min-height: 65vh;
        width: 100vw;
    }
}


body {
    font-family: 'Inter', sans-serif;
}

.swal2-popup.swal2-modal.swal2-show {
    width: min(550px, 95vw) !important;
}

.swal2-title {
    margin-top: 15px;
}

.text-dark {
    color: rgb(97, 97, 97) !important;
}

.hero-section {
    background-color: #94a3b8;
    min-height: 30vh;
}

.description-section {
    background-image: url('../../public/assets/images/landing page assets/landing page bg.png');
    background-size: cover;
    background-position: bottom;
    min-height: 500px;
    width: 100vw;
}

.icon-bg-yellow {
    background: linear-gradient(90deg, #ffde59, #ff914d);
    border: 4px solid white;
}

.icon-bg-emerald {
    background: linear-gradient(90deg, #0097b2, #79ed97);
    border: 4px solid white;
}

.icon-bg-purple {
    background: linear-gradient(90deg, #5170ff, #ff66c4);
    border: 4px solid white;
}

.submit-button {
    background: linear-gradient(90deg, #5de0e6, #004aad);
}

.submit-button-border {
    border: 2px solid white !important;
}

.search-bar input {
    font-size: 15px;
}

.search-bar svg {
    top: 6px;
}