main {
    margin: 0;
    color: #2E4B59;
    min-height: 100vh;
}

main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/homepage new bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    z-index: -1;
    border-radius: 5px;
}