

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.badge-size {
    width: 95px;
}

.badge-size svg{
    margin-top: 1px;
    margin-right: 5px;
}

.d-grid {
    display: grid;
    grid-template-columns: 1;
    gap: 10px;
}

table.responsive thead {
    display: table-header-group !important;
}


.btn-sm-size {
    padding-left: 5px;
    padding-right: 5px;
}

.btn-size {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
}



main {
    min-height: 115vh;
    display: block !important;
    padding: 0px 0px;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/images/homepage new bg.png");

    background-size: auto 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.accordion-item, .accordion-button {
    background: rgba(255, 255, 255) !important;
    background-color: rgba(255, 255, 255) !important;
}

.accordion-container {
    max-width: 95vw;
}


.accordion-button, .border-0 {
    outline: 0 !important;
    border: 0 !important;
    box-shadow: none !important;
}

.accordion-item:first-child {
    border-radius: 40px 40px 0 0 !important;
}


.accordion-item:last-child {
    border-radius: 0 0 40px 40px  !important;
}

.accordion-item {
    /* border-radius: 40px 40px 0 0 !important; */
}

@media screen and (min-width: 992px) {
    .btn-size {
        width: 200px;
    }


    .d-grid {
        grid-template-columns: 10fr 2fr;
        grid-auto-rows: 1fr; 
    }

    main {
        padding: 20px 0px;
        background-size: 100vw 100vh;
    }

    .accordion-container {
        max-width: 60vw;
    }
}

