*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --border-color: black;
    --border2-color: black;
    --element-width: 160px;
    --line-width: 80px;   
    --element-height: 10%;  
    --translucent-bg: rgba(236, 235, 235, 0.6);
}

.winner-label,
.loser-label {
    left: 120%;
    z-index: 99;
    background-color: var(--translucent-bg);
    padding: 1px 3px;
    font-size: 12px;
}

.winner-label {
    top: 5px;
}

.loser-label {
    bottom: 5px;
}

.tournament-bracket__box {
    display: flex;
    border: 2px solid var(--border2-color); 
    justify-content: space-between;
    align-items: center;
}

.tournament-bracket__box:nth-child(even) {
    margin-top: -1px;
}


.tournament-bracket__box span {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem; 
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
}


body {
    background-image: url("/assets/images/home.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

ul.tournament-bracket__list{
    padding-left: 1px !important;
}

caption.tournament-bracket__caption {
    padding: 0 !important;
    margin: 0! important;
}

.special-item-right::after , .special-item-right::before {
    border-color: red !important; 
}


.special-item-right:nth-child(odd)::after, .special-item-right:nth-child(odd)::before {
    border-color: red !important; 
}




.container {
    width: 90%;
    min-width: 18em;
    margin: 20px auto;
}
h1, h2 {
    text-align: center;
}
h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5em;
}
h2 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 2em;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.tournament-bracket {
    display: flex;
    flex-direction: column;
}
@media (min-width: 608px) {
    .tournament-bracket {
        flex-direction: row;
   }
}
.tournament-bracket__round {
    display: block;
    margin-left: -3px;
    width: 100%;
    /* flex: 1; */
}
.tournament-bracket__round-title {
    color: black;
    font-size: 0.95rem;
    font-weight: 400;
    text-align: center;
    font-style: italic;
    margin-bottom: 0.5em;
}
.tournament-bracket__list {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: center;
    min-height: 100%;
    border-bottom: 1px dashed var(--border-color);
    padding-bottom: 2em;
    margin-bottom: 2em;
    transition: padding 0.2s ease-in-out, margin 0.2s ease-in-out;
}
@media (max-width: 384px) {
    .tournament-bracket__list {
        padding-bottom: 1em;
        margin-bottom: 1em;
   }
}
@media (min-width: 608px) {
    .tournament-bracket__list {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
   }

   .tournament-bracket__round {
        width: var(--element-width);
   }
}
.tournament-bracket__round:last-child .tournament-bracket__list {
    border: 0;
}
.tournament-bracket__item {
    display: flex;
    /* flex: 0 1 auto; */
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding: 2% 0;
    width: 48%;
    transition: padding 0.2s linear;
}
.tournament-bracket__item:nth-child(odd) {
    margin-right: 2%;
}
.tournament-bracket__item:nth-child(even) {
    margin-left: 2%;
}
.tournament-bracket__item::after {
    transition: width 0.2s linear;
}
@media (max-width: 384px) {
    .tournament-bracket__item {
        width: 100%;
   }
    .tournament-bracket__item:nth-child(odd), .tournament-bracket__item:nth-child(even) {
        margin-left: 0;
        margin-right: 0;
   }
}
@media (min-width: 608px) {
    .tournament-bracket__item {
        padding: 0.5em 1em;
        width: 100%;
   }
    .tournament-bracket__item:nth-child(odd), .tournament-bracket__item:nth-child(even) {
        margin: 0;
   }
    .tournament-bracket__item::after {
        position: absolute;
        right: 0;
        content: '';
        display: block;
        width: var(--line-width);
        height: 45%;
        border-right: 2px solid var(--border-color);
   }
   .tournament-bracket__joined-odd-list .tournament-bracket__item::after {
        border-right: 0px solid var(--border-color);
   }
    .tournament-bracket__item.red::after {
        border-right: 2px solid red !important;
    }
    .tournament-bracket__item:nth-child(odd)::after {
        top: 50%;
        border-top: 2px solid var(--border2-color);
        transform: translateY(-1px);
   }
    .tournament-bracket--rounded .tournament-bracket__item:nth-child(odd)::after {
        border-top-right-radius: 0.6em;
   }
   .tournament-bracket__joined-odd-list .tournament-bracket__item:nth-child(odd)::after {
        border-top-right-radius: 0em !important;
    }
    .tournament-bracket__item:nth-child(even)::after {
        bottom: 50%;
        border-bottom: 2px solid var(--border-color);
        transform: translateY(1px);
   }
    .tournament-bracket--rounded .tournament-bracket__item:nth-child(even)::after {
        border-bottom-right-radius: 0.6em;
   }
   
   .tournament-bracket__joined-odd-list .tournament-bracket__item:nth-child(even)::after {
        border-bottom-right-radius: 0em !important;
    }
    .tournament-bracket__round:first-child .tournament-bracket__item {
        padding-left: 0;
   }
    .tournament-bracket__round:last-child .tournament-bracket__item {
        padding-right: 0;
   }
    .tournament-bracket__round:last-child .tournament-bracket__item::after {
        display: none;
   }

}

.tournament-bracket__match {
    display: flex;
    width: 100%;
    background-color: #ffffff;
    padding: 2px;
    border: 1px solid transparent;
    border-radius: 0.1em;
    outline: none;
    cursor: pointer;
    transition: padding 0.2s ease-in-out, border 0.2s linear;
}
.tournament-bracket__joined-even-list .tournament-bracket__match, 
.tournament-bracket__joined-even-list .tournament-bracket__match::after,
.tournament-bracket__joined-even-list .tournament-bracket__match::before

{
    border-radius: 0em !important;
}
.tournament-bracket__match:focus {
    border-color: #2196F3;
}
.tournament-bracket__match::before, .tournament-bracket__match::after {
    transition: all 0.2s linear;
}
@media (max-width: 384px) {
    .tournament-bracket__match {
        padding: 0.75em 0.5em;
   }
}
@media (min-width: 608px) {
    .tournament-bracket__match::before, .tournament-bracket__match::after {
        position: absolute;
        left: 0;
        z-index: 1;
        content: '';
        display: block;
        width: var(--line-width);
        height: 10%;
        border-left: 2px solid var(--border2-color);
    }

    .tournament-bracket__joined-even-list .tournament-bracket__match::before {
        border-left: 0px solid var(--border2-color) !important;
    }
    .tournament-bracket__joined-even-list .tournament-bracket__match::after {
        border-left: 0px solid var(--border2-color) !important;
    }

    .tournament-bracket__match {
        width: var(--element-width);
        background-color: transparent;
    }

    .tournament-bracket__match::before {
        bottom: 50%;
        border-left: 2px solid var(--border-color);

        transform: translate(0,1px);
   }
    .tournament-bracket--rounded .tournament-bracket__match::before {
        border-bottom-left-radius: 0.6em;
   }
   .tournament-bracket__joined-odd-list .tournament-bracket--rounded .tournament-bracket__match::before {
        border-bottom-left-radius: 0em !important;
    }
    .tournament-bracket__match::after {
        top: 50%;
        border-top: 2px solid var(--border-color);
        transform: translate(0,-1px);
   }
    .tournament-bracket--rounded .tournament-bracket__match::after {
        border-top-left-radius: 0.6em;
   }

   .tournament-bracket__joined-even-list .tournament-bracket--rounded .tournament-bracket__match::after {
        border-top-left-radius: 0em !important;
    }
}

.tournament-bracket__round:last-child .tournament-bracket__match::before, .tournament-bracket__round:last-child .tournament-bracket__match::after {
    border-left: 0;
}
.tournament-bracket__round:last-child .tournament-bracket__match::before {
    border-bottom-left-radius: 0;
}
.tournament-bracket__round:last-child .tournament-bracket__match::after {
    display: none;
}

tournament-bracket__round:last-child .tournament-bracket__list {
    border: 0;
}

.tournament-bracket__round:nth-last-child(2) .tournament-bracket__item::after {
    border-radius: 0;
    border-right: 0;
}

.tournament-bracket__round:first-child .tournament-bracket__match::before, .tournament-bracket__round:first-child .tournament-bracket__match::after {
    display: none;
}
.tournament-bracket__content {
    display: flex;
}
.tournament-bracket__content::after {
    content: ':';
    width: var(--line-width);
    text-align: center;
    padding: 0.2em 0.1em;
}
@media (min-width: 608px) {
    .tournament-bracket__content::after {
        order: 1;
   }
}
.tournament-bracket__content .tournament-bracket__team:first-child {
    width: 50%;
    order: 0;
    text-align: right;
}
@media (min-width: 608px) and (max-width: 832px) {
    .tournament-bracket__content .tournament-bracket__team:first-child {
        align-items: flex-end;
   }
}
.tournament-bracket__content .tournament-bracket__team:first-child .tournament-bracket__country {
    order: 2;
    justify-content: flex-end;
}
@media (min-width: 384px) {
    .tournament-bracket__content .tournament-bracket__team:first-child .tournament-bracket__country {
        order: 0;
   }
}
@media (min-width: 608px) and (max-width: 832px) {
    .tournament-bracket__content .tournament-bracket__team:first-child .tournament-bracket__country {
        flex-direction: column-reverse;
        align-items: flex-end;
   }
}
.tournament-bracket__content .tournament-bracket__team:first-child .tournament-bracket__score {
    order: 0;
}
@media (min-width: 384px) {
    .tournament-bracket__content .tournament-bracket__team:first-child .tournament-bracket__score {
        order: 2;
   }
}
.tournament-bracket__content .tournament-bracket__team:last-child {
    width: 50%;
    order: 2;
    text-align: left;
}
@media (min-width: 608px) and (max-width: 832px) {
    .tournament-bracket__content .tournament-bracket__team:last-child {
        align-items: flex-start;
   }
}
@media (min-width: 608px) {
    .tournament-bracket__content .tournament-bracket__team:last-child .tournament-bracket__country {
        justify-content: flex-start;
   }
}
@media (min-width: 608px) and (max-width: 832px) {
    .tournament-bracket__content .tournament-bracket__team:last-child .tournament-bracket__country {
        align-items: flex-start;
   }
}
.tournament-bracket__content .tournament-bracket__team:last-child .tournament-bracket__code {
    order: 1;
}
.tournament-bracket__table {
    display: block;
}

.tournament-bracket__displayLargeScreen {
    display: none;
    white-space: nowrap;
}

@media (min-width: 608px) {
    .tournament-bracket__table {
        display: none;
   }
   .tournament-bracket__displayLargeScreen{
        display: block;
    }
}
.tournament-bracket__caption {
    font-size: 0.8rem;
    color: #BDBDBD;
    font-weight: 300;
    padding-bottom: 0.75em;
}
.tournament-bracket__team {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
@media (min-width: 384px) {
    .tournament-bracket__team {
        flex-direction: column-reverse;
   }
}
@media (min-width: 608px) {
    .tournament-bracket__team {
        flex-direction: column-reverse;
   }
}
.tournament-bracket__country {
    font-size: 0.95rem;
    display: flex;
    margin-top: 0.5em;
    align-items: center;
}
@media (max-width: 384px) {
    .tournament-bracket__country {
        margin-top: 0;
   }
}
@media (min-width: 608px) and (max-width: 832px) {
    .tournament-bracket__country {
        display: flex;
        flex-direction: column;
   }
    .tournament-bracket__country .tournament-bracket__code {
        margin-top: 0.2em;
   }
}
.tournament-bracket__code {
    padding: 0 0.5em;
    color: #212121;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    text-decoration: none;
    cursor: help;
    transition: padding 0.2s ease-in-out;
}
@media (max-width: 384px) {
    .tournament-bracket__code {
        padding: 0 0.25em;
   }
}
@media (min-width: 608px) and (max-width: 832px) {
    .tournament-bracket__code {
        padding: 0;
   }
}
.tournament-bracket__score {
    display: flex;
    align-items: center;
}
.tournament-bracket__team:first-child .tournament-bracket__score {
    flex-direction: row-reverse;
    padding-left: 0.75em;
}
.tournament-bracket__team:last-child .tournament-bracket__score {
    padding-right: 0.75em;
}
.tournament-bracket__number {
    display: inline-block;
    padding: 0.2em 0.4em 0.2em;
    border-bottom: 0.075em solid transparent;
    font-size: 0.95rem;
    background-color: #F5F5F5;
    border-color: var(--border2-color);
}
.tournament-bracket__team--winner .tournament-bracket__number {
    background-color: #FFF176;
    border-color: var(--border2-color);
}
.tournament-bracket__medal {
    padding: 0 0.5em;
}
.tournament-bracket__medal--gold {
    color: #FFD700;
}
.tournament-bracket__medal--silver {
    color: #C0C0C0;
}
.tournament-bracket__medal--bronze {
    color: #CD7F32;
}
