.button-design-removed{
    background-color: transparent;
    border-width: 0px !important;
}

.button-design-removed:active{
    outline: none !important;
    border-width: 0px !important;
}

.dropbtn {
    background-color: #F8F7F0;
    border: 1px solid black;
    border-radius: 30px;
    cursor: pointer;
}

.dropbtn:active {
    outline: none !important;
}

.main2 {
    background-image: url("/assets/images/event-creation-bg.png");

}