/* Reset some default styles */

main {
    background-image: url("/assets/images/homepage new bg.png");
    background-size: cover;
    background-position: center;
    margin: 0;
    color: #2E4B59;
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* @import "node_modules/bootstrap/scss/bootstrap"; */
/* Dropdown Section */

.dropbtn {
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 50px;
    right: 0px;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* .dropdown a:hover {
    background-color: #ddd;
} */

.show {
    display: block;
}

/* Hero Section */

.hero {
    background-size: cover;
    text-align: center;
    padding: 0;
    color: #fff;
}

.hero img {
    height: 40vh;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.text__middle {
    padding-left: 15%;
}

.text__middle p {
    font-size: 1.875rem;
}

.search-form {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form input[type="text"] {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    width: 70%;
}

.search-form button {
    background-color: #FF6C00;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}


/* Featured Events */

.featured-events {
    margin: 0 11vw;
    gap: 0 2vw;
    padding: 2rem 0 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.event {
    position: relative;
    margin: auto;
    margin-bottom: 40px;
    min-height: 470px;
    width: min(360px, 80vw);
    border: 4px solid rgb(82, 159, 23);
    border-radius: 42px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

.event_1 {
    margin-bottom: 3rem;
    overflow: auto;
    width: 350px;
    height: 430px;
    background: transparent;
    border: 2px solid rgb(90, 150, 230);
    border-radius: 40px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

.event_2 {
    margin-bottom: 3rem;
    overflow: auto;
    width: 350px;
    height: 430px;
    background: transparent;
    border: 2px solid rgb(16, 22, 68);
    border-radius: 40px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

.event_status_1 {
    background-color: #bfc4c7;
    color: #fff;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
    width: min-content;
}

.event_status_2 {
    background-color: #78da1d;
    color: #fff;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
    width: min-content;
}

.event_status_3 {
    background-color: #43A4D7;
    color: #fff;
    border-radius: 25px;
    padding-left: 27px;
    padding-right: 30px;
    width: 20%;
    text-align: center;
}

.column {
    float: left;
    width: 33.33%;
}


/* ADDED CSS */

#smaller {
    font-size: smaller;
}


.league_name p{
    font-size: 1.0rem;
}

.hamburger-menu {
    display: none;
}

.featured-events .event_head,
.event_1 .event_head,
.event_2 .event_head {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-left: 125px;
    bottom: 160px;
}

.nav__items {
    padding: 20px;
}

@media (max-width: 1300px) {
    .nav__items ul {
        display: none;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
    }

    .hamburger-menu i {
        cursor: pointer;
    }

    .nav__items.active ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #fff;
        top: 50px;
        right: 0;
        z-index: 1;
        border: 1px solid #ccc;
        padding: 10px;
    }

    li {
        padding: 10px;
    }
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.team_logo {
    height: 75px;
    width: 75px;
}

.trophy {
    height: 100px;
    width: 100px;
    text-align: center;
}

.trophy_caption {
    text-align: center;
}

.league_caption {
    font-size: 1.25rem;
}

.league_name {
    text-align: left;
    padding: 0 20px;
}

.cover {
    width: 100%;
    aspect-ratio: 7/3;
    object-fit: cover;
    border-radius: 40px 40px 0px 0px;
}

@keyframes spinOdd {
    0%, 100% { transform: rotate(0deg); }
    50% { transform: rotate(1deg); }
}

@keyframes spinEven {
    0%, 100% { transform: rotate(0deg); }
    50% { transform: rotate(-1deg); }
}

.event:nth-child(odd):hover {
    animation: spinOdd 1s linear;
}

.event:nth-child(even):hover {
    animation: spinEven 1s linear;
}
.event:hover .cover {
    animation: grayscale 2s ease-in-out;
}

@keyframes grayscale {
    0% {
        filter: grayscale(1);

    }
    50% {
        filter: grayscale(0);
    }
    
    100% {
        filter: grayscale(0);
    }
}

.event h3,
.event p {
    padding: 1rem;
}


/* Footer */

footer {
    text-align: center;
    color: #000000;
}

.frame1 {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.event_status {
    margin: 0;
}

.tierIcon {
    width: 50px;
    height: 40px;
}

.gameIcon {
    width: 40px;
    height: 40px;
}

.icons {
    height: 10px;
    width: 10px;
}


/* Mobile styles */

@media (max-width: 560px) {
    .hero img {
        height: 30vh;
    }

    .league_name p{
        font-size: 1.15rem;
    }

    .league_name small{
        font-size: 1.00rem;
    }

    .featured-events {
        grid-template-columns: 1fr;
        margin: 0 5vw;
    }
}


@media (min-width: 560px) and (max-width: 800px) {
    .league_name p{
        font-size: 1.15rem;
    }

    .league_name small{
        font-size: 1.00rem;
    }

    .nav__sect1 {
        justify-content: space-between;
        padding: 0 10px;
    }

    .cover {
        aspect-ratio: 7/3;
    }

    .nav__items {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        width: 100%;
        position: absolute;
        top: 65px;
        z-index: 1;
    }

    .nav__items.active {
        display: flex;
    }

    .nav__items ul {
        flex-direction: column;
    }

    .nav__items ul li {
        margin: 10px 0;
    }
    

    .search-form input[type="text"] {
        width: 80%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .search-form button {
        margin-top: 10px;
        background-color: #FF6C00;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .hero h1 {
        font-size: 1.8rem;
    }
    .text__middle {
        padding-left: 10%;
    }
    .text__middle p {
        font-size: 1.5rem;

    }

    .featured-events {
        padding: 1rem 0;
        margin: 0 15vw;
        grid-template-columns: 1fr;
    }

    .event_1,
    .event_2 {
        width: 100%;
        margin: 0 auto 2rem;
    }

    .event{
        width: 90%;
        margin: 0 auto 60px;
    }
}


/* Tablet styles */

@media (min-width: 800px) and (max-width: 1200px) {
    .nav__items {
        display: flex;
    }
   
    .nav__items ul {
        flex-direction: row;
    }

    .featured-events {
        grid-template-columns: 1fr 1fr; 
        margin: 0 10vw;
    }
    .featured-events .event_head,
    .event_1 .event_head,
    .event_2 .event_head {
        display: none;
    }
}

.easylogic-colorpicker .color-list {
    display: none !important;
}