
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    overflow: hidden;
}

main {
    width: 100%;
    min-height: 100%;
    padding: 0 0;
    background-image: url("/assets/images/event-creation-bg.png");
}

.wrapper {
    border-radius: 25px;
    border: 2px solid #676767;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: min(80%, 650px);
    background-color: #FFFBFB;
}

.first {
    width: 40%;
}


.first_notify {
    float: center;
    text-align: center;
    font-size: 1.25rem;
    padding-top: 0%;
}

#tain {
    float: left;
    width: 200px;
    padding: 16px;
    border-radius: 20px;
}

.midbar {
    float: center;
    text-align: center;
    position: relative;
}

.sidebar {
    width: 55%;
    float: right;
    position: relative;
    bottom: 55px;
}

p {
    font-family: "Poppins", sans-serif;
    top: -50px;
    font-size: small;
}

label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

input[type="submit"] {
    width: 250px;
    padding-top: 12px;
    padding-bottom: 13px;
    font-size: normal;
    margin-top: 0px;
    color: #fff;
    padding: 10px;
    border-radius: 30px;
    background: #43A4D7;
    border: none;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.1); */
}

.oceans-gaming-default-button {
    width: 150px;
    padding-top: 12px;
    padding-bottom: 13px;
    padding: 10px;
    position: relative;
    border-radius: 30px;
    top: 15px;
    /* text-align: center; */
    color: #676767;
    background-color: #FFFBFB;
}

.oceans-gaming-another-button {
    width: 300px;
    padding-top: 12px;
    padding-bottom: 13px;
    padding: 10px;
    position: relative;
    border-radius: 30px;
    top: 15px;
    /* text-align: center; */
    color: #676767;
    background-color: #FFFBFB;
}

.oceans-gaming-transparent-button {
    background: transparent;
    border: 1px solid black;
    color: black;
}

input.largerCheckbox {
    width: 25px;
    height: 25px;
}

.remember-checkbox {
    display: flex;
    /* align-items: center; */
    /* white-space: nowrap; */
    gap: 10px;
}

.mark {
    color: black;
}

.dropbtn {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 30px;
    /* color: white; */
    padding: 14px;
    width: 230px;
    font-size: 0.75rem;
    /* border: none; */
    cursor: pointer;
}


/* Style for the search input */


/* Style for the search input */

#teamSearch {
    width: 100%;
    /* Make the search input same width as the button */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 15px;
}


/* Style for the dropdown content */

.dropdown-content {
    width: 35%;
    display: none;
    position: absolute;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
}


/* Show the dropdown content when the button is clicked */

.show {
    display: block;
}


/* Style for the team name and logo */

.team-info {
    display: flex;
    align-items: center;
}

#searchButton {
    width: 35%;
    background-color: transparent;
    /* Use a different color to make it look like a button */
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
}

.plus-icon {
    display: flex;
    align-items: center;
}

.circle {
    width: 15px;
    height: 15px;
    background-color: #43A4D7;
    /* Circle background color */
    border-radius: 50%;
    /* Makes it a circle */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    /* Adjust the margin as needed */
}

.plus {
    font-size: 0.9375rem;
    color: white;
    /* Plus icon color */
}