
.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup {
    
    border-radius: 10px;
    width: 80%;
    
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root {
    --timeline-start-width-desktop: 100px;
    --timeline-start-width-mobile: 60px;
    --timeline-normal-width-desktop: 200px;
    --timeline-normal-width-mobile: 120px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.d-none {
    display: none;
}

.d-none-at-mobile {
    display: none;
    margin: auto;
}

.d-centered-at-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}


.wrapper_payment {
    border-radius: 25px;
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
    width: 500px;
    height: 450px;
    background-color: #FFFBFB;
}

/* .wrapper_payment_2 {
    border: 2px solid #010101;
    width: 455px;
    height: 75px;
    background-color: #FFFBFB;
} */

.column {
    float: left;
    width: 50%;
}

input[type="submit"],
.oceans-gaming-default-button {
    width: 200px;
    padding-top: 12px;
    padding-bottom: 13px;
    font-size: normal;
    margin-top: 0px;
    color: #fff;
    padding: 10px;
    border-radius: 30px;
    background: #43A4D7;
    border: none;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.1); */
}


.icon2 svg:hover,
.icon2 span:hover {
    transform: scale(1.1);
}

.nav__input {
    border-radius: 23px;
    height: 40px;
    width: 40rem;
    padding-left: 40px;
    position: relative;
    z-index: 1;
}

.search_box {
    width: 60%;
    position: relative;
}

.search_box input[type="text"] {
    width: 90%;
    padding: 10px;
    padding-left: 40px;
    padding-right: 60px;
    box-sizing: border-box;
    background: transparent;
    border: 1px solid #000000;
    border-radius: 20px;
    font-size: 18px;
    color: #000000;
    outline: black;
    z-index: 1;
}

.fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #000000;
    padding-left: 15px;
    z-index: 2;
}


.center {
    margin: auto;
    width: 50%;
    text-align: center;
}

.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    /* Add this line to center the content */
}

.single-chart {
    width: 33%;
    justify-content: space-around;
    text-align: center;
    /* Add this line to center the content */
}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart.orange .circle {
    stroke: #ff9f00;
}

.percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}

input[type="submit"] {
    width: 200px;
    padding-top: 12px;
    padding-bottom: 13px;
    font-size: normal;
    margin-top: 0px;
    color: #fff;
    padding: 10px;
    border-radius: 30px;
    background: #43A4D7;
    border: none;
}

input[type="submit"]:hover {
    background: #a3c3d3;
}

input[type="submit"]:active {
    background: #79b0cc;
}

.oceans-gaming-default-button {
    color: #000000;
    background: #ffffff;
    border: 1px solid black;
}