@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root {
    --timeline-start-width-desktop: 100px;
    --timeline-start-width-mobile: 60px;
    --timeline-normal-width-desktop: 200px;
    --timeline-normal-width-mobile: 120px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.d-none {
    display: none;
}

.d-none-at-mobile {
    display: none;
    margin: auto;
}

.d-centered-at-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

main {
    width: 100%;
    height: 150vh;
    display: block !important;
    padding: 0px 10px;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/images/event-creation-bg.png");
    margin: 0;
}

.navbar {
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.navbar img,
.navbar svg,
nav img,
nav svg {
    cursor: pointer;
}

.navbar img:hover,
nav img:hover,
.navbar svg:hover,
nav svg:hover {
    transform: scale(1.1);
}

.navbar img:active,
nav img:active,
.navbar svg:active,
nav svg:active {
    transform: scale(1.1);
}

.navbar .nav-buttons {
    display: none;
}

.menu-toggle {
    display: block;
}

.search-bar {
    position: relative;
}

.search-bar input {
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 90px;
    width: 450px;
    max-width: 80vw;
    /* caret-color: #43A4D7;
    color: #43A4D7; */
}

.search-bar svg {
    position: absolute;
    top: 12px;
}

input[type="submit"],
.oceans-gaming-default-button {
    width: 200px;
    padding-top: 12px;
    padding-bottom: 13px;
    font-size: normal;
    margin-top: 0px;
    color: #fff;
    padding: 10px;
    border-radius: 30px;
    background: #43A4D7;
    border: none;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.1); */
}

.welcome {
    margin-top: 40px;
    margin-bottom: 80px;
    font-weight: lighter;
    color: #2E4B59 !important;
}

.welcome p {
    width: 600px;
    margin: auto;
    font-weight: lighter;
    text-overflow: clip;
    font-size: larger;
}

@media screen and (min-width: 600px) {
    .swiper-container {
        display: block;
    }
}

@media screen and (min-width: 992px) {
    .time-line-box .status__left small {
        left: 13%;
    }
    main {
        padding: 20px 100px;
    }
    .payment-summary {
        padding-left: 40px;
        padding-right: 40px;
    }
    .flexbox {
        display: flex;
        justify-content: space-between;
    }
    .search-bar {
        display: block;
    }
    .search-bar input {
        padding-left: 60px;
    }
    .navbar .nav-buttons {
        display: block;
    }
    .d-none-at-mobile {
        display: block;
    }
    .menu-toggle {
        display: none;
    }
    .d-centered-at-mobile {
        display: none;
    }
    .search-bar svg {
        left: 20px;
    }
    .swiper-slide {
        text-indent: 0px;
        font-size: 1rem;
        width: var(--timeline-normal-width-desktop);
    }
    .swiper-slide__left {
        width: var(--timeline-start-width-desktop) !important;
    }
    .time-line-box .status {
        width: var(--timeline-normal-width-desktop) ! important;
    }
    .time-line-box .status__left {
        width: var(--timeline-start-width-desktop) ! important;
    }
    .time-line-box .status__left span:before {
        left: 12%;
    }
    .time-line-box .status__right {
        width: var(--timeline-start-width-desktop) ! important;
    }
}

.team-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.team-logo-container {
    position: relative;
}

.team-logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.settings-icon {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.team-name {
    margin-top: 10px;
    font-size: 1.5rem;
    color: #2E4B59;
}

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.circle-container {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.uploaded-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    /* Default image URL */
    background-image: url('/assets/images/fnatic.jpg');
}

.upload-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    padding: 8px 16px;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0;
    /* Initially invisible */
    transition: opacity 0.3s ease;
}

.circle-container:hover .upload-button {
    opacity: 1;
    /* Make button visible on hover */
}

.tabs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tab-button {
    background-color: transparent;
    color: #000;
    padding: 15px 25px;
    /* Increased padding */
    border: none;
    border-bottom: 2px solid transparent;
    margin: 0 10px;
    cursor: pointer;
}

.tab-button:hover {
    border-bottom: 2px solid #000;
}

.tab-content {
    display: none;
    padding: 20px;
}

.recent-events {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
    padding: 20px;
}

.event-carousel {
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.event-box {
    width: 300px;
    padding: 15px;
    margin-right: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    scroll-snap-align: start;
}

.carousel-button {
    background-color: #1e3744;
    color: #fff;
    padding: 15px 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.team-info {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.player-info {
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(82, 159, 23);
    border-radius: 40px; 
    padding-bottom: 120px; 
}

.player-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: cover;
    margin-right: 10px;
}

.event {
    margin-bottom: 3rem;
    overflow: auto;
    width: 500px;
    height: 270px;
    background: transparent;
    border: 2px solid rgb(82, 159, 23);
    border-radius: 40px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    align-content: center;
    position: relative;
    overflow: visible;
}

.top-middle-box {
    font-size: small;
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1e303c;
    color: #fff;
    padding: 20px;
    border-radius: 40px;
    height: 60px;
    /* Set the desired height */
    width: 200px;
    /* Set the desired width */
}

.event_head {
    max-width: 5rem;
    max-height: 5rem;
    position: absolute;
}

.event_head_container {
    text-align: center;
}

.frame1 {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 40px;
}

.logo2 {
    height: 40px;
    width: 50px;
}

.cover {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.trophy {
    height: 100px;
    width: 100px;
    text-align: center;
}

.trophy_caption {
    text-align: center;
}

.league_caption {
    font-size: 20px;
}

.league_name {
    text-align: left;
    padding-left: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.left-col {
    width: 49%;
    text-align: left;
    display: flex;
    padding: 5px;
}

.right-col {
    width: 49%;
    text-align: right;
    display: flex;
    padding: 5px;
}

.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.single-chart {
    width: 33%;
    justify-content: space-around;
    text-align: center;
    /* Add this line to center the content */
}

.circular-chart {
    display: block;
    /* margin: 10px auto; */
    margin-top: auto;
    max-width: 80%;
    max-height: 250px;
}


/* Add this CSS to your existing styles */

.second .center input[type="submit"],
.second .center button.oceans-gaming-default-button {
    margin-bottom: 10px;
    /* Adjust the value based on the desired gap */
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart.orange .circle {
    stroke: #ff9f00;
}

.percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}

input[type="submit"] {
    width: 200px;
    padding-top: 12px;
    padding-bottom: 13px;
    font-size: normal;
    margin-top: 0px;
    color: #fff;
    padding: 10px;
    border-radius: 30px;
    background: #43A4D7;
    border: none;
}

input[type="submit"]:hover {
    background: #a3c3d3;
}

input[type="submit"]:active {
    background: #79b0cc;
}

.oceans-gaming-default-button {
    color: #000000;
    background: #ffffff;
    border: 1px solid black;
}

.center {
    margin: auto;
    width: 50%;
    text-align: center;
}

.container-wrapper {
    display: flex;
    justify-content: space-between;
}

.first {
    width: calc(50% - 10px);
    /* Adjust the width as needed */
    height: 100px;
    float: left;
    margin-bottom: 20px;
    /* Add margin for the gap */
    box-sizing: border-box;
}

.second {
    width: calc(50% - 10px);
    /* Adjust the width as needed */
    height: 100px;
    float: right;
    margin-bottom: 20px;
    /* Add margin for the gap */
    box-sizing: border-box;
}

.cont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.gear-icon-btn {
    background: none;
    border: none;
    padding: 0;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.gear-icon-btn i {
    font-size: 18px;
    color: #555;
    transition: transform 0.4s ease-in-out;
}

.gear-icon-btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    /* Change to your desired color */
    border-radius: 50%;
    z-index: -1;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.4s ease-in-out;
}

.gear-icon-btn:hover i {
    transform: scale(1.3);
}

.gear-icon-btn:hover::before {
    transform: translate(-50%, -50%) scale(2);
}