.border-Turtle {
    border: 2px solid #8CCD39 !important;
}

.border-Starfish {
    border: 2px solid #CE3C39 !important;
}

.border-Dolphin{
    border: 2px solid #43A4D7 !important;
}

.z-99 {
    position: relative;
    z-index: 99;
}

.captain-crown {
    transform: translateY(-5px) rotate(-45deg);
}

@keyframes flicker {
    0% { 
        transform: scale(1.55);
        border: 2px solid #43A4D7;
        opacity: 1;
    }
    25% {
        transform: scale(1.05);
        border: 2px solid #3590c0;
        opacity: 0.8;
    }
    50% {
        transform: scale(1.55);
        border: 2px solid #43A4D7;
        opacity: 1;
    }
    75% {
        transform: scale(1.45);
        border: 2px solid #3590c0;
        opacity: 0.8;
    }
    100% {
        transform: scale(1.55);
        border: 2px solid #43A4D7;
        opacity: 1;
    }
}

.captain-crown:hover {
    transform: scale(1.55);
    border: 2px solid #43A4D7;
    animation: flicker 1s ease-in-out infinite;
    animation-timing-function: ease-in-out;
}

.border-red {
    border: 2px solid red;
}

.border-green {
    border: 2px solid green;
}