@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/images/Single_Screen.png");
}

.wrapper-height {
    padding: 20px;
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    border-radius: 25px;
    border: 2px solid #676767;
}

p {
    font-family: "Poppins", sans-serif;
    top: -50px;
    font-size: 0.81rem;
}

label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

input[type="submit"] {
    width: 250px;
    padding-top: 12px;
    padding-bottom: 13px;
    font-size: normal;
    margin-top: 0px;
    color: #fff;
    padding: 10px;
    border-radius: 30px;
    background: #43A4D7;
    border: none;
}

.oceans-gaming-default-button {
    width: 250px;
    padding-top: 12px;
    padding-bottom: 13px;
    font-size: normal;
    margin-top: 0px;
    color: #fff;
    text-align: center;
    cursor: submit;
    padding: 10px;
    border-radius: 30px;
    background: #43A4D7;
    border: none;
}

.oceans-gaming-white-button{
    background: transparent !important;
    color: black !important;
    border: 1px solid black;
    width: 100px !important;
}

.oceans-gaming-default-button[disabled] {
    background-color: rgb(178, 184, 178);
    color: #ffffff; 
    cursor: not-allowed; 
}

.oceans-gaming-another-button {
    width: 300px;
    padding-top: 12px;
    padding-bottom: 13px;
    padding: 10px;
    position: relative;
    border-radius: 30px;
    top: 15px;
    /* text-align: center; */
    color: #676767;
    background-color: #FFFBFB;
}

.oceans-gaming-transparent-button {
    background: transparent;
    border: 1px solid black;
    color: black;
}

input.largerCheckbox {
    width: 25px;
    height: 25px;
}

.remember-checkbox {
    display: flex;
    gap: 10px;
}

.mark {
    color: black;
}

.dropbtn {
    width: 300px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 30px;
    padding: 14px;
    width: 230px;
    font-size: 14px;
    cursor: pointer;
}

#teamSearch {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 15px;
}


.dropdown-content {
    width: 300px;
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
}


.show {
    display: block;
}



.team-info {
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.team-info:hover {
    cursor: pointer;
    font-size: larger;    
}


#searchButton {
    width: 35%;
    background-color: transparent;
    /* Use a different color to make it look like a button */
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
}

.plus-icon {
    display: flex;
    align-items: center;
}

