@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root {
    --timeline-start-width-desktop: 100px;
    --timeline-start-width-mobile: 60px;
    --timeline-normal-width-desktop: 200px;
    --timeline-normal-width-mobile: 120px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.d-none {
    display: none;
}

.d-none-at-mobile {
    display: none;
    margin: auto;
}

.d-centered-at-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

body{
    background-image: url("/assets/images/event-creation-bg.png");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

main {
    width: 100%;
    min-height: 100vh; 
    margin: 0;
}


.navbar {
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.navbar img,
.navbar svg,
nav img,
nav svg {
    cursor: pointer;
}

.navbar img:hover,
nav img:hover,
.navbar svg:hover,
nav svg:hover {
    transform: scale(1.1);
}

.navbar img:active,
nav img:active,
.navbar svg:active,
nav svg:active {
    transform: scale(1.1);
}

.navbar .nav-buttons {
    display: none;
}

.menu-toggle {
    display: block;
}

.search-bar {
    position: relative;
}

.search-bar input {
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 90px;
    width: 450px;
    max-width: 80vw;
    /* caret-color: #43A4D7;
    color: #43A4D7; */
}

.search-bar svg {
    position: absolute;
    top: 12px;
}

input[type="submit"],
.oceans-gaming-default-button {
    width: 200px;
    padding-top: 12px;
    padding-bottom: 13px;
    font-size: normal;
    margin-top: 0px;
    color: #fff;
    padding: 10px;
    border-radius: 30px;
    background: #43A4D7;
    border: none;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.1); */
}

.welcome {
    margin-top: 40px;
    margin-bottom: 80px;
    font-weight: lighter;
    color: #2E4B59 !important;
}

.welcome p {
    width: 600px;
    margin: auto;
    font-weight: lighter;
    text-overflow: clip;
    font-size: larger;
}

@media screen and (min-width: 600px) {
    .swiper-container {
        display: block;
    }
}

@media screen and (min-width: 992px) {
    .time-line-box .status__left small {
        left: 13%;
    }
    main {
        padding: 20px 100px;
    }
    .payment-summary {
        padding-left: 40px;
        padding-right: 40px;
    }
    .flexbox {
        display: flex;
        justify-content: space-between;
    }
    .search-bar {
        display: block;
    }
    .search-bar input {
        padding-left: 60px;
    }
    .navbar .nav-buttons {
        display: block;
    }
    .d-none-at-mobile {
        display: block;
    }
    .menu-toggle {
        display: none;
    }
    .d-centered-at-mobile {
        display: none;
    }
    .search-bar svg {
        left: 20px;
    }
    .swiper-slide {
        text-indent: 0px;
        font-size: 1rem;
        width: var(--timeline-normal-width-desktop);
    }
    .swiper-slide__left {
        width: var(--timeline-start-width-desktop) !important;
    }
    .time-line-box .status {
        width: var(--timeline-normal-width-desktop) ! important;
    }
    .time-line-box .status__left {
        width: var(--timeline-start-width-desktop) ! important;
    }
    .time-line-box .status__left span:before {
        left: 12%;
    }
    .time-line-box .status__right {
        width: var(--timeline-start-width-desktop) ! important;
    }
}

.team-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.team-logo-container {
    position: relative;
}

.team-logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.settings-icon {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.team-name {
    margin-top: 10px;
    font-size: 1.5rem;
    color: #2E4B59;
}

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.circle-container {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.uploaded-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    /* Default image URL */
    background-image: url('/assets/images/fnatic.jpg');
}

.upload-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    padding: 8px 16px;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0;
    /* Initially invisible */
    transition: opacity 0.3s ease;
}

.wrapper {
    border-radius: 25px;
    border: 2px solid #676767;
    padding: 20px;
    width: 700px;
    max-width: 90vw;
    height: 400px;
    background-color: #FFFBFB;
    margin: 10vh auto; /* Adjust vertical margin as needed */
}