.welcome {
    margin-top: 40px;
    margin-bottom: 80px;
    font-weight: lighter;
    color: #2E4B59 !important;
}

.welcome p {
    width: 600px;
    margin: auto;
    font-weight: lighter;
    text-overflow: clip;
    font-size: larger;
}

main {
    width: 100%;
    height: auto;
    display: flex;
    padding: 20px 100px;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/images/Single_Screen.png");
}

*/ input[type="submit"],
.oceans-gaming-default-button {
    width: 200px;
    padding-top: 12px;
    padding-bottom: 13px;
    font-size: normal;
    margin-top: 0px;
    color: #fff;
    padding: 10px;
    border-radius: 30px;
    background: #43A4D7;
    border: none;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.1); */
}

.oceans-gaming-default-button {
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
}

.oceans-gaming-default-button:click {
    border: 0px solid black;
}

.oceans-gaming-transparent-button {
    background: transparent;
    border: 1px solid black;
    color: black;
}

.oceans-gaming-green-button {
    background: #8CCD39;
    color: white;
}

.oceans-gaming-gray-button {
    background: #A6A6A6;
    color: white;
}


/* Add these styles to your existing CSS */


/* Style for the input box */

#teamName {
    width: 500px;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 40px;
    font-size: 16px;
    text-align: center;
}


/* Style for the "Create Team" button */

input[type="button"] {
    width: 200px;
    padding: 12px;
    font-size: 16px;
    margin-top: 10px;
    color: #fff;
    border-radius: 30px;
    background: #43A4D7;
    border: none;
    cursor: pointer;
}


/* Hover effect for the button */

input[type="button"]:hover {
    background: #2E4B59;
}


/* Add some spacing between input and button */

#step-0 {
    margin-bottom: 20px;
}