.welcome {
    margin-top: 40px;
    margin-bottom: 80px;
    font-weight: lighter;
    color: #2E4B59 !important;
}

.welcome p {
    width: 600px;
    margin: auto;
    font-weight: lighter;
    text-overflow: clip;
    font-size: larger;
}

body {
    width: 100%;
    height: auto;
    display: flex;
    padding: 20px 100px;
    align-items: center;
    justify-content: center;
    background-image: url("images/Single_Screen.png");
}

nav {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    height: 65px;
    align-items: center;
    margin: 0;
    gap: 10px;
}

.nav__sect1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 20%;
    width: 20%;
}

.nav__input {
    border-radius: 23px;
    height: 40px;
    width: 40rem;
    padding-left: 40px;
}

.fa-search {
    position: absolute;
    z-index: 100;
    left: 165px;
    top: 32px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 1.5rem;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

nav ul li a.moop {
    background-color: #c5c3c2;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}

nav ul li a.sign {
    background-color: #43A4D7;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}

nav ul li a:hover {
    color: #083157;
}

.search_box {
    width: 60%;
    position: relative;
}

.search_box input[type="text"] {
    width: 100%;
    padding: 10px;
    padding-left: 40px;
    padding-right: 60px;
    box-sizing: border-box;
    background: transparent;
    border: 1px solid #000000;
    border-radius: 20px;
    font-size: 18px;
    color: #000000;
    outline: black;
}

.fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    color: #000000;
}

/* @import "node_modules/bootstrap/scss/bootstrap"; */
/* Dropdown Section */

.dropbtn {
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 50px;
    right: 0px;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

input[type="button"],
.oceans-gaming-default-button {
    width: 200px;
    padding-top: 12px;
    padding-bottom: 13px;
    font-size: normal;
    margin-top: 0px;
    color: #fff;
    padding: 10px;
    border-radius: 30px;
    background: #43A4D7;
    border: none;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.1); */
}

.oceans-gaming-default-button {
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
}

.oceans-gaming-default-button:click {
    border: 0px solid black;
}

.oceans-gaming-transparent-button {
    background: transparent;
    border: 1px solid black;
    color: black;
}

.oceans-gaming-green-button {
    background: #8CCD39;
    color: white;
}

.oceans-gaming-gray-button {
    background: #A6A6A6;
    color: white;
}
/* Add these styles to your existing CSS */

/* Style for the input box */
#teamName {
    width: 500px;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 40px;
    font-size: 16px;
    text-align: center;
}

/* Style for the "Create Team" button */
input[type="button"] {
    width: 200px;
    padding: 12px;
    font-size: 16px;
    margin-top: 10px;
    color: #fff;
    border-radius: 30px;
    background: #43A4D7;
    border: none;
    cursor: pointer;
}

/* Hover effect for the button */
input[type="button"]:hover {
    background: #2E4B59;
}

/* Add some spacing between input and button */
#step-0 {
    margin-bottom: 20px;
}
