@font-face {
    font-family: 'Dancing Script';
    src: url('https://fonts.gstatic.com/s/dancingscript/v25/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7BMSo3Sup8.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='65.5' height='55.2' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%23ffffffff'/><path d='m4.6 6.7 28.1 22 28.1-22L52.4.2l-19.7 15L13 .2z'  stroke-width='1' stroke='none' fill='%23f0f4f680'/><path d='M0 0v6.7L8.54 0H0zm56.92 0 8.48 6.7.1-.08V0h-8.58zM6.3 36.2 0 41.1v14.1h8.54l10.96-8.6L6.3 36.2zm52.8 0L45.9 46.6l10.96 8.6h8.64V41.02l-.1.08-6.3-4.9z'  stroke-width='1' stroke='none' fill='%23f0f4f680'/><path d='M0 6.7v20.7l32.7 25.9 32.7-25.9.1.08V6.78l-.1-.08-32.7 25.6z'  stroke-width='1' stroke='none' fill='%23f0f4f680'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>") !important;
  background-attachment: fixed;
  background-repeat: repeat !important;
}

.cursive-font {
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.z-999 {
    position: relative;
    z-index: 9999999 !important;
}

.z-99 {
    position: relative;
    z-index: 99;
}

:root {
    --grid-size: 1fr 1fr; 
}

/* .animation-container >  * {
    opacity: 0;
} */


 

@keyframes bobbing {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(10px);
    }

    60% {
        transform: translateY(6px);
    }

    100% {
        transform: translateY(0);
    }
}


.motion-logo {
    display: inline-block;
    will-change: transform;
    backface-visibility: hidden;
}


.main1 {
    height: fit-content;
    display: block !important;
    padding: 0px 0px 10px;
    align-items: center;
    justify-content: center;
    background-color: #dfe1e2;
    margin: 0;
}



.main2 {
    display: block !important;
    align-items: center;
    justify-content: center;
    margin: 0;
}


.welcome {
    margin-top: 40px;
    margin-bottom: 80px;
    font-weight: 400;
    color: #2E4B59 !important;
}

.welcome p {
    width: 600px;
    margin: auto;
    font-weight: 400;
    text-overflow: clip;
    font-size: larger;
}


.team-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.team-logo-container {
    position: relative;
}

.settings-icon {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.team-name {
    margin-top: 10px;
    font-size: 1.5rem;
    color: #2E4B59;
}

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px 20px;
}

.circle-container {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* overflow: hidden; */
}

.form-select {
    background-image: none !important;
}

.uploaded-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border: 3px solid rgb(24, 115, 24);
    border-radius: 50%;
    /* Default image URL */
}

.upload-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    padding: 8px 16px;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0;
    /* Initially invisible */
    transition: opacity 0.3s ease;
}

.circle-container:hover .upload-button {
    opacity: 1;
    /* Make button visible on hover */
}

.carousel-button {
    text-align: center;
    background-color: #1e3744;
    color: #fff;
    padding: 15px 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    position: absolute;
    top: 100px; 
    z-index: 100;
}

.carousel-button-disabled {
    opacity: 0.35;
    cursor: not-allowed !important;
}

.event-link {
    text-decoration: none;
}

.event-box {
    width: calc(33.33% - 20px);
    background-color: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event-image {
    height: 200px;
    background-size: cover;
    background-position: center;
}

.event-details {
    padding: 10px;
}

.event-box {
    width: 600px;
    padding: 20px;
    margin-right: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    scroll-snap-align: start;
}

.w-75-lg-60 {
    width: 75%;
}

.team-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.showcase,
.achievements {
    width: 45%;
    padding: 20px;
}

.showcase-box {
    background-color: #ffffff;
    border: solid #1e3744;
    border-radius: 1px;
    padding: 15px;
    max-width: 100%;

}

.trophy {
    width: 60px;
    /* Adjust the size as needed */
    height: 60px;
    object-fit: cover;
}

.achievement-list {
    list-style-type: none;
    padding: 0;
}

.achievement-list li {
    margin-bottom: 10px;
    background-color: #1e3744;
    padding: 10px;
    border-radius: 5px;
    color: #a8a3a3;
    position: relative;
    overflow: hidden;
}



.member-table {
    width: min(90vw, 1000px);
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 20px;
    
}

.min-h-250px {
    min-height: 250px;
}




.player-info {
    display: flex;
    align-items: center;
}



.event {
    margin-bottom: 3rem;
    overflow: auto;
    width: 90vw;
    height: min-content;    
    background: transparent;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    align-content: center;
    overflow: hidden;
    max-width: 430px;
}

.event #eventBanner {
    height: 200px !important;
    width: 100%;
}

.event #eventView{
    top: 0px; 
    overflow-y: auto; 
    overflow-x: hidden;
    height: 180px;
}


.event-width {
    min-height: 250px;

}

.grid-2-columns,
.grid-3-columns {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
}


.event_2 {
    margin-bottom: 3rem;
    overflow: auto;
    width: 350px;
    height: 430px;
    background: transparent;
    border: 2px solid rgb(16, 22, 68);
    border-radius: 30px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

.event_status_1 {
    background-color: #bfc4c7;
    color: #fff;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
    width: min-content;
}



.event_head {
    max-width: 5rem;
    max-height: 5rem;
    position: absolute;
}

.event_head_container {
    text-align: center;
}

.frame1 {
    display: flex;
    align-items: center;
    text-align: center;
}


.eventName{
    font-size: 0.875rem; 
    text-align: left; 
    margin-top: 10px; 
    margin-left: 10px;
}

.cover {
    width: 100%;
    height: 150px;
    object-fit: cover;
}


.event:hover .cover {
    animation: grayscale 2s ease-in-out;
}

@keyframes grayscale {
    0% {
        filter: grayscale(1);

    }
    50% {
        filter: grayscale(0);
    }
    
    100% {
        filter: grayscale(0);
    }
}



.league_name {
    text-align: left;
    padding-left: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
}


.colorless-col {
    background: none !important;
    border: none;
    padding: 0;
    cursor: pointer;
}




.team-name {
    display: inline-block;
    margin-right: 10px;
}



.achievement-list li span.additional-text {
    margin-left: 10px;
    /* Adjust the spacing between the checkmark and additional text */
    color: #fff;
    /* Color of the additional text */
}

.search_box {
    width: 60%;
    position: relative;
}

.search_box input[type="text"] {
    width: 90%;
    padding: 10px;
    padding-left: 40px;
    padding-right: 60px;
    box-sizing: border-box;
    background: transparent;
    border: 1px solid #2e4b59;
    border-radius: 20px;
    font-size: 1.125rem;
    outline: black;
    z-index: 1;
}

.fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 15px;
    z-index: 2;
}

.cont {
    display: flex;
    justify-content: space-between;
}

.gray-scale-image {
    transition: filter 0.3s ease-in-out;
}

.gray-scale-image:hover {
    filter: grayscale(100%);
}


.opacity-parent-until-hover:hover .opacity-until-hover{
    opacity: 0.6;
    z-index: -1;
}

.invisible-until-hover {
    visibility: visible;
}

.visible-until-hover {
    visibility: visible;
}

.gray-until-hover {
    visibility: visible;
}

.visible-until-hover-parent:hover .visible-until-hover{
    visibility: hidden;
}

.invisible-until-hover-parent:hover .invisible-until-hover, .event:hover .invisible-until-hover {
    visibility: visible;
}

.d-none-until-hover-parent .d-none-until-hover {
    visibility: hidden;
    overflow: hidden;
    display: none;
}

.d-none-until-hover-parent:hover{
    cursor: pointer;
}

.d-none-until-hover-parent:hover .d-none-until-hover {
    display: inline-block;
    visibility: visible;
    overflow: visible;
    transition: visibility 5.3s ease;
}

#connectionModal {
    width: 95%;
}

@media screen and (min-width: 576px) {
    body {
        --s: 50px;
    }

    #connectionModal {
        width: 100%;
    }
    
    .modal-dialog-special {
        max-width:100vw !important;
        width: min(70vw, 100%) !important  ;
    }

    .modal-content-special {
        width: max(70vw, 100%) !important  ;
    }

    .swiper-container {
        display: block;
    }

    .event-carousel-styles {
        max-width: 600px;
        margin: auto;
    }


    .event {
        width: 65vw;
    }

}

@media screen and (min-width: 992px) {
    body {
        --s: 70px;
    }

    .event {
        max-width: 1000px;
    }

    .invisible-until-hover {
        visibility: hidden;
    }

    .event #eventBanner {
        height: 220px !important;
    }

    .event #eventView{
        top: 0px; 
        overflow-y: auto; 
        overflow-x: hidden;
        height: 200px;
    }

    .main1 { 
        min-height: 40vh;
    }

    
    main {
        padding: 0px 0px;
    }
    .payment-summary {
        padding-left: 40px;
        padding-right: 40px;
    }
    .flexbox {
        display: flex;
        justify-content: space-between;
    }
    
   
    .swiper-slide {
        text-indent: 0px;
        font-size: 1rem;
        width: var(--timeline-normal-width-desktop);
    }
    .swiper-slide__left {
        width: var(--timeline-start-width-desktop) !important;
    }
    .grid-3-columns {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grid-2-columns {
        grid-template-columns: 1fr 1fr;
    }
    .event-width {
        width: min(550px, 40vw);
        height: min-content;
        max-width: 550px;
    } 

}
#backgroundBanner  {
    position: relative;
}

#backgroundBanner svg {
    top: 0px !important;
}

@media screen and (min-width: 1100px) {
    .event-carousel-styles {
        grid-template-columns: 1fr 1fr;
        max-width: none;
    }

    .w-75-lg-60 {
        width: 60%;
    }
}

.player-profile__input, 
.form-control.player-profile__input:focus {
    box-shadow: none !important;
    border-width: 0px !important;
    border-bottom-width: 2px !important; 
    border-bottom-style: dotted !important;
    background-color: transparent !important;
    border-radius: 0px !important;
}


.player-profile__input, 
.form-control.player-profile__input:focus {
    box-shadow: none !important;
    border-width: 0px !important;
    border-bottom-width: 2px !important; 
    border-bottom-style: dotted !important;
    background-color: transparent !important;
    border-radius: 0px !important;
}

.iti, .iti--allow-dropdown, .iti--show-flags, .iti--inline-dropdown {
    background-color: transparent !important;
}

.easylogic-colorpicker .color-list, .easylogic-colorpicker .menu{
    display: none !important;
}

.color-pallete:hover {
    outline: 4px solid white;
    outline-offset: -5px;
    border: 3px solid gray;
    cursor: pointer;
}

.color-active {
    outline: 4px solid white;
    outline-offset: -5px;
    border: 5px solid #43A4D7;
    cursor: pointer;
}
.custom-file-container .label-container {
    display: none !important;
}


.rainbow-hue{
    position: relative;
    border-radius: 50%;
    background: linear-gradient(in hsl longer hue 45deg, red 0 0);
    width: 35px;
    height: 30px;
}

.rainbow-hue::after {
    cursor: pointer;
    position: absolute;
    content: "+";
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    margin:  auto;
    width: 100%;
    color: white;
    outline: 4px solid white;
    outline-offset: -5px;
    border: 3px solid gray;
    border-radius: 50%;
}

.roster-button  {
    background-color: #43A4D7; 
    color: white;  
    padding: 5px 10px; 
    height: min-content; 
    font-size: 0.875rem; 
    border-radius: 10px; 
    border: none;
    margin: 0;
}

.dropdown-stats {
    font-weight: lighter !important;
}

.dropdown-stats .dropdown-menu {
    border-radius: 10px;
}

.dropdown-stats  .dropdown-item  {
    font-size: 13px;

}

@media screen and (min-height: 900px) { 
    .welcome {
        margin-top: 12vh;
    }
}