

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("/assets/images/event-creation-bg.png");
    background-size: cover; 
    background-size: auto 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

main {
    width: 100%;
    min-height: 100vh; 
    margin: 0;
    background: none;
}

.menu-toggle {
    display: block;
}




input[type="submit"],
.oceans-gaming-default-button {
    width: 200px;
    padding-top: 12px;
    padding-bottom: 13px;
    font-size: normal;
    margin-top: 0px;
    color: #fff;
    padding: 10px;
    border-radius: 30px;
    background: #43A4D7;
    border: none;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.1); */
}

.welcome {
    margin-top: 40px;
    margin-bottom: 80px;
    font-weight: 400;
    color: #2E4B59 !important;
}

.welcome p {
    width: 600px;
    margin: auto;
    font-weight: 400;
    text-overflow: clip;
    font-size: larger;
}


    .grid-3-columns > a {
        margin: auto !important;
    }


@media screen and (min-width: 600px) {
    .swiper-container {
        display: block;
    }
}

@media screen and (min-width: 992px) {
    .time-line-box .status__left small {
        left: 13%;
    }
    main {
        padding: 20px 100px;
    }

    body {
        background-size: 100vw 100vh;
    }
    .payment-summary {
        padding-left: 40px;
        padding-right: 40px;
    }
    .flexbox {
        display: flex;
        justify-content: space-between;
    }
    padding-left: 60px;
    }
   
    .d-none-at-mobile {
        display: block;
    }
    .menu-toggle {
        display: none;
    }
    .d-centered-at-mobile {
        display: none;
    }
  

    .grid-3-columns  {
        /* max-width: 1200px; */
        gap: 20px !important;
        margin: auto 5%;
    }
  

    .grid-3-columns > a {
        margin: 0;
    }
}

@media screen and (min-width: 1400px) {
    .grid-3-columns  {
        grid-template-columns: repeat(4, 1fr);
    }
}

.team-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
}

.team-logo-container {
    position: relative;
}

.team-logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.settings-icon {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.team-name {
    margin-top: 10px;
    font-size: 1.5rem;
    color: #2E4B59;
}

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px 20px;
}

.circle-container {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.uploaded-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    /* Default image URL */
    border: 3px solid rgb(24, 115, 24);
    border-radius: 50%;
}

.upload-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    padding: 8px 16px;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0;
    /* Initially invisible */
    transition: opacity 0.3s ease;
}

.wrapper {
    border-radius: 25px;
    border: 2px solid #676767;
    padding: 20px;
    max-width: 80vw;
    background-color: #FFFBFB;
    width: min(90vw, 300px);
    margin: 10px;
}

