@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/*! purgecss start ignore */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --grid-size: 1fr 1fr; 
}

.d-none {
    display: none;
}

.d-none-at-mobile {
    display: none;
    margin: auto;
}

.d-centered-at-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.main1 {
    min-height: 60vh;
    display: block !important;
    padding: 0px 10px;
    align-items: center;
    justify-content: center;
    background-color: #dfe1e2;
    margin: 0;
}

.main2 {
    display: block !important;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/images/event-creation-bg.png");
    background-repeat: round;
    background-size: cover;
    margin: 0;
    padding: 20px 0 20vh;
}

.menu-toggle {
    display: block;
}

.nav__input {
    border-radius: 23px;
    height: 40px;
    width: 40rem;
    padding-left: 40px;
    position: relative;
    z-index: 1;
}

.search-bar {
    position: relative;
}

.search-bar input {
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 90px;
    width: 450px;
    max-width: 80vw;
    /* caret-color: #43A4D7;
    color: #43A4D7; */
}

.search-bar svg {
    position: absolute;
    top: 12px;
}

input[type="submit"],
.oceans-gaming-default-button {
    width: 200px;
    padding-top: 12px;
    padding-bottom: 13px;
    font-size: normal;
    margin-top: 0px;
    color: #fff;
    padding: 10px;
    border-radius: 30px;
    background: #43A4D7;
    border: none;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.1); */
}

.oceans-gaming-default-button-link{
    width: auto !important;
    padding: 10px 15px !important;
}

.welcome {
    margin-top: 40px;
    margin-bottom: 80px;
    font-weight: lighter;
    color: #2E4B59 !important;
}

.welcome p {
    width: 600px;
    margin: auto;
    font-weight: lighter;
    text-overflow: clip;
    font-size: larger;
}


.team-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.team-logo-container {
    position: relative;
}

.team-logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.settings-icon {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.team-name {
    margin-top: 10px;
    font-size: 1.5rem;
    color: #2E4B59;
}

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px 20px;
}

.circle-container {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* overflow: hidden; */
}

.uploaded-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border: 3px solid rgb(24, 115, 24);
    border-radius: 50%;
    /* Default image URL */
}

.upload-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    padding: 8px 16px;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0;
    /* Initially invisible */
    transition: opacity 0.3s ease;
}

.circle-container:hover .upload-button {
    opacity: 1;
    /* Make button visible on hover */
}

.tabs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: min(90vw, 1000px);
    margin: auto;
}

.tab-size {
    width: min(90vw, 1000px);
    margin: auto;
}

.tab-button {
    background-color: transparent;
    color: #000;
    padding: 15px 25px;
    /* Increased padding */
    border: none;
    flex-grow: 1;
    max-width: 25vw;
    border-bottom: 2px solid transparent;
    margin: 0 10px;
    cursor: pointer;
}

.tab-button:hover, .tab-button-active {
    border-bottom: 2px solid #000;
}

.event-carousel-styles {
    display: grid; 
    justify-content: center;
    gap: 40px 5%;
    align-items: center;
    grid-template-columns: 1fr;
}

.carousel-buttons {
    text-align: center;
    background-color: #43A4D7;
    color: #FFFFFF;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.carousel-button {
    text-align: center;
    background-color: #1e3744;
    color: #fff;
    padding: 15px 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.carousel-button-disabled {
    opacity: 0.35;
    cursor: not-allowed !important;
}

.event-link {
    text-decoration: none;
}

.event-box {
    width: calc(33.33% - 20px);
    background-color: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event-image {
    height: 200px;
    background-size: cover;
    background-position: center;
}

.event-details {
    padding: 10px;
}

.event-box {
    width: 600px;
    padding: 20px;
    margin-right: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    scroll-snap-align: start;
}


.team-info {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 20px;
}

.showcase,
.achievements {
    width: 45%;
    padding: 20px;
}

.showcase-box {
    background-color: #ffffff;
    border: solid #1e3744;
    border-radius: 1px;
    padding: 15px;
}



.trophy {
    width: 30px;
    /* Adjust the size as needed */
    height: 30px;
    object-fit: cover;
}

.achievement-list {
    list-style-type: none;
    padding: 0;
}

.achievement-list li {
    margin-bottom: 10px;
    background-color: #1e3744;
    padding: 10px;
    border-radius: 5px;
    color: #a8a3a3;
    position: relative;
    overflow: hidden;
}



.member-table {
    width: 65%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 20px;
}

.member-table th,
.member-table td {
    padding: 8px;
    text-align: left;
}

.coloured-cell {
    background-color: #c3bebe;
}

.player-info {
    display: flex;
    align-items: center;
}

.player-image {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: cover;
    margin-right: 10px;
    transform: rotate(-20deg) skewX(10deg); 
    background-image: url('/assets/images/participants/crown-tilted.png');
}



.nationality-flag {
    width: 35px;
    height: 20px;
}

.rosterHis {
    align-items: center;
}

.event {
    margin-bottom: 3rem;
    overflow: auto;
    max-width: 90vw;
    height: min-content;
    background: transparent;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    align-content: center;
    overflow: hidden;
}

.event-width {
    width: 400px;
    min-height: 250px;
}

.grid-2-columns,
.grid-3-columns {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
}

.event_1 {
    margin-bottom: 3rem;
    overflow: auto;
    width: 350px;
    height: 430px;
    background: transparent;
    border: 2px solid rgb(90, 150, 230);
    border-radius: 30px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

.event_2 {
    margin-bottom: 3rem;
    overflow: auto;
    width: 350px;
    height: 430px;
    background: transparent;
    border: 2px solid rgb(16, 22, 68);
    border-radius: 30px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

.event_status_1 {
    background-color: #bfc4c7;
    color: #fff;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
    width: min-content;
}

.icon2 {
    cursor: pointer;
}

.event_status_2 {
    background-color: #78da1d;
    color: #fff;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
    width: min-content;
}

.event_status_3 {
    background-color: #43A4D7;
    color: #fff;
    border-radius: 25px;
    padding-left: 27px;
    padding-right: 30px;
    width: 20%;
    text-align: center;
}

.event_head {
    max-width: 5rem;
    max-height: 5rem;
    position: absolute;
}

.event_head_container {
    text-align: center;
}

.frame1 {
    display: flex;
    align-items: center;
    text-align: center;
}

.logo2 {
    height: 40px;
    width: 50px;
}

.eventName{
    font-size: 14px; 
    text-align: left; 
    margin-top: 10px; 
    margin-left: 10px;
}

.cover {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.trophy {
    height: 100px;
    width: 100px;
    text-align: center;
}

.trophy_caption {
    text-align: center;
}



.league_name {
    text-align: left;
    padding-left: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.left-col {
    width: 49%;
    text-align: left;
    display: flex;
    padding: 5px;
}

.colorless-col {
    background: none !important;
    border: none;
    padding: 0;
    cursor: pointer;
}


.right-col {
    width: 49%;
    text-align: right;
    display: flex;
    padding: 5px;
}

.team-names {
    display: flex;
    align-items: center;
}

.team-name {
    display: inline-block;
    margin-right: 10px;
}


.gear-icon-btn, .gear-icon-btn-2 {
    color: #555;
    background: none;
    border: none;
    transition: transform 0.4s ease-in-out;
}

.gear-icon-btn:hover {
    transform: scale(1.3);
}

.gear-icon-btn-2:hover {
    font-weight: bolder;
}




.achievement-list li span.additional-text {
    margin-left: 10px;
    /* Adjust the spacing between the checkmark and additional text */
    color: #fff;
    /* Color of the additional text */
}

.search_box {
    width: 60%;
    position: relative;
}

.search_box input[type="text"] {
    width: 90%;
    padding: 10px;
    padding-left: 40px;
    padding-right: 60px;
    box-sizing: border-box;
    background: transparent;
    border: 1px solid #000000;
    border-radius: 20px;
    font-size: 18px;
    color: #000000;
    outline: black;
    z-index: 1;
}

.fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #000000;
    padding-left: 15px;
    z-index: 2;
}

.cont {
    display: flex;
    justify-content: space-between;
}

.leftC {
    width: 49%;
    text-align: left;
    padding-left: 250px;
}

.rightC {
    width: 49%;
    text-align: right;
}

.gray-scale-image {
    transition: filter 0.3s ease-in-out;
}

.gray-scale-image:hover {
    filter: grayscale(100%);
}


.opacity-parent-until-hover:hover .opacity-until-hover{
    opacity: 0.1;
    z-index: -1;
}

.invisible-until-hover {
    visibility: hidden;
}

.visible-until-hover {
    visibility: visible;
}

.gray-until-hover {
    visibility: visible;
}

.visible-until-hover-parent:hover .visible-until-hover{
    visibility: hidden;
}

.member-table:hover .invisible-until-hover, .invisible-until-hover-parent:hover .invisible-until-hover, .event:hover .invisible-until-hover {
    visibility: visible;
}

.d-none-until-hover {
    width: 0;
    height: 0;
    overflow: hidden;
}

.d-none-until-hover-parent:hover{
    cursor: pointer;
}

.d-none-until-hover-parent:hover .d-none-until-hover {
    width: auto;
    height: auto;
    overflow: auto;
}

@media screen and (min-width: 576px) {
    .modal-dialog {
        max-width:100vw !important;
        width: min(70vw, 100%) !important  ;
    }

    .modal-content {
        width: max(70vw, 100%) !important  ;
    }
}

@media screen and (min-width: 600px) {
    .swiper-container {
        display: block;
    }
}

@media screen and (min-width: 992px) {

    .main1 { 
        min-height: 50vh;
    }
    .time-line-box .status__left small {
        left: 13%;
    }
    main {
        padding: 0px 0px;
    }
    .payment-summary {
        padding-left: 40px;
        padding-right: 40px;
    }
    .flexbox {
        display: flex;
        justify-content: space-between;
    }
    .search-bar {
        display: block;
    }
    .search-bar input {
        padding-left: 60px;
    }
  
    .d-none-at-mobile {
        display: block;
    }
    .menu-toggle {
        display: none;
    }
    .d-centered-at-mobile {
        display: none;
    }
    .search-bar svg {
        left: 20px;
    }
    .swiper-slide {
        text-indent: 0px;
        font-size: 1rem;
        width: var(--timeline-normal-width-desktop);
    }
    .swiper-slide__left {
        width: var(--timeline-start-width-desktop) !important;
    }
    .grid-3-columns {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grid-2-columns {
        grid-template-columns: 1fr 1fr;
    }
    .event-width {
        width: min(550px, 40vw);
        height: min-content;
    } 

}

@media screen and (min-width: 1100px) {
    .event-carousel-styles {
        grid-template-columns: 1fr 1fr
    }
}

.player-profile__input, 
.form-control.player-profile__input:focus {
    box-shadow: none !important;
    border-width: 0px !important;
    border-bottom-width: 2px !important; 
    border-bottom-style: dotted !important;
    background-color: transparent !important;
    border-radius: 0px !important;
    color: black;
}


.player-profile__input, 
.form-control.player-profile__input:focus {
    box-shadow: none !important;
    border-width: 0px !important;
    border-bottom-width: 2px !important; 
    border-bottom-style: dotted !important;
    background-color: transparent !important;
    border-radius: 0px !important;
    color: black;
}



.iti, .iti--allow-dropdown, .iti--show-flags, .iti--inline-dropdown {
    background-color: transparent !important;
}

.easylogic-colorpicker .color-list, .easylogic-colorpicker .menu{
    display: none !important;
}

.color-pallete:hover {
    outline: 4px solid white;
    outline-offset: -5px;
    border: 3px solid gray;
    cursor: pointer;
}

.color-active {
    outline: 4px solid white;
    outline-offset: -5px;
    border: 5px solid #43A4D7;
    cursor: pointer;
}
.custom-file-container .label-container {
    display: none !important;
}

.tab-button-override {
    padding-left: 0px;
     padding-right: 0px; 
     max-width: 200px !important;
     width: 200px !important;
     margin-right: 20px !important;
}



