body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Hide scroll bars */
}

.welcome {
    margin-top: 40px;
    margin-bottom: 80px;
    font-weight: 400;
    color: #2E4B59 !important;
}

.welcome p {
    max-width: 90%; 
    text-align: center;
    margin: auto;
    font-size: larger;
}

main {
    height: 100vh;
    
    background-image: url("/assets/images/Single_Screen.png");
    background-size: cover;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

input[type="submit"],
.oceans-gaming-default-button {
    width: 300px;
    text-overflow: wrap;
    padding-top: 12px;
    padding-bottom: 13px;
    font-size: normal;
    margin-top: 0px;
    color: #fff;
    padding: 10px;
    border-radius: 30px;
    background: #43A4D7;
    border: none;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.1); */
}

.oceans-gaming-default-button {
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
}

.oceans-gaming-default-button:click {
    border: 0px solid black;
}

.oceans-gaming-transparent-button {
    background: transparent;
    border: 1px solid black;
    color: black;
}

.oceans-gaming-green-button {
    background: #8CCD39;
    color: white;
}

.oceans-gaming-gray-button {
    background: #A6A6A6;
    color: white;
}


/* Add these styles to your existing CSS */


/* Style for the input box */

#teamName, #teamDescription {
    width: 600px;
    max-width: 95vw ;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 40px;
    font-size: 1rem;
    text-align: center;
}


/* Style for the "Create Team" button */

input[type="button"] {
    width: 200px;
    padding: 12px;
    font-size: 1rem;
    margin-top: 10px;
    color: #fff;
    border-radius: 30px;
    background: #43A4D7;
    border: none;
    cursor: pointer;
}


/* Hover effect for the button */

input[type="button"]:hover {
    background: #2E4B59;
}


/* Add some spacing between input and button */

#step-0 {
    margin-bottom: 20px;
}



/* Responsive Code On Going */

@media screen and (max-width: 768px) {
    main {
        background-size: auto 100vh;

    }

    .welcome p {
        width: 80%; /* Adjust width for smaller screens */
    }

  

    input[type="button"] {
        width: 80%; /* Adjust width for smaller screens */
        max-width: 300px; /* Set a maximum width */
        margin-top: 10px;
    }
}

