

:root {
    --timeline-start-width-desktop: 100px;
    --timeline-start-width-mobile: 80px;
    --timeline-normal-width-desktop: 200px;
    --timeline-normal-width-mobile: 160px;
}



.breadcrumb-top {
    position: absolute;
    margin-left: 30px;

    top: 15vh;
    width: 100vw;
}

.back-next button {
    margin: auto;
    position: static;
}

.back-next button:nth-child(1) {
    position: static;
}

.back-next button:nth-child(2) {
    position: static;
}

/* Add this CSS to your existing stylesheet */


.grid,
.grid-2 {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    justify-content: space-between;
}

.grid-2 {
    gap: 20px;
}


.grid-2-columns,
.grid-3-columns {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
}






.swiper-container {
    display: none;
    width: 800px;
    max-width: 80vw;
    /* border: 1px solid black; */
    margin: auto;
    overflow-y: auto;
}

.swiper-wrapper {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: visible;
    height: 70px;
    justify-content: center;
}

.swiper-slide {
    width: var(--timeline-normal-width-mobile);
    height: 100%;
    position: relative;
}

.swiper-slide__left {
    width: var(--timeline-start-width-mobile) !important;
}

.time-line-box {
    height: 150px;
    padding: 30px 0;
    width: 100%;
}

.time-line-box .timeline {
    list-style-type: none;
    display: flex;
    padding: 0;
    text-align: center;
}

.timestamp:hover{
    cursor: pointer;
}

.time-line-box .timestamp {
    margin: auto;
    margin-bottom: 5px;
    padding: 0px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-line-box .status {
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    border-top: 2px solid #95ADBD;
    width: var(--timeline-normal-width-mobile) ! important;
    position: relative;
    transition: all 200ms ease-in;
}

.time-line-box .status__left {
    padding: 0px 10px;
    display: flex;
    justify-content: flex-end;
    border-top: 2px solid #95ADBD;
    width: var(--timeline-start-width-mobile) ! important;
    position: relative;
    transition: all 200ms ease-in;
}

.time-line-box .status__right {
    padding: 0px 10px;
    display: flex;
    justify-content: flex-end;
    border-top: 2px solid #95ADBD;
    width: var(--timeline-start-width-mobile) ! important;
    position: relative;
    transition: all 200ms ease-in;
}

.time-line-box .status span {
    padding-top: 8px;
}

.time-line-box .status__left small {
    content: '';
    width: 12px;
    height: 12px;
    cursor: pointer;
    background-color: #95ADBD;
    border-radius: 12px;
    /* border: 2px solid #95ADBD; */
    position: absolute;
    left: 0%;
    top: 0%;
    transform: translateY(-50%) translateX(-110%);
    transition: all 200ms ease-in;
}

.status__left__success small,
.time-line-box-success .status__right small {
    background-color: rgb(42, 139, 235) !important;
    color: white !important;
    height: 20px !important;
}

.status__left__success small,
.time-line-box-success .status__right small {
    padding-bottom: 15px !important;
    padding-left: 5px !important;
    padding-right: 15px !important;
}

.time-line-box-success .status__right,
.time-line-box-success .status,
.time-line-box-success .status__left {
    border-top: 2px solid rgb(42, 139, 235);
    content: 'x' !important;
    color: white !important;
    position: relative;
}

.time-line-box-success .status__right small {
    right: -60% !important;
}

.time-line-box .status__right small {
    content: '';
    width: 12px;
    height: 12px;
    cursor: pointer;
    background-color: #95ADBD;
    border-radius: 12px;
    /* border: 2px solid #95ADBD; */
    position: absolute;
    right: -20%;
    top: 0%;
    transform: translateY(-50%) translateX(-100%);
    transition: all 200ms ease-in;
}

.time-line-box .status small {
    content: '';
    width: 12px;
    height: 12px;
    cursor: pointer;
    background-color: #95ADBD;
    border-radius: 12px;
    /* border: 2px solid #95ADBD; */
    position: absolute;
    left: 50%;
    top: 0%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: all 200ms ease-in;
}


.cat {
    position: relative;
    left: -40%;
    display: inline-block;
}

.timestamp {
    width: 100%;
    /* Ensure the timestamp takes up the full width */
}


/* Adjust the swiper-slide to accommodate the padding */

.swiper-slide {
    box-sizing: border-box;
}

.background-active-timeline {
    background: #43A4D7 !important;
}

.font-color-active-timeline {
    color: #43A4D7;
    text-decoration: underline;
}


.box-width {
    margin: 30px auto 0 !important;
    width: 80vw !important;
}



@media screen and (min-width: 1000px) {
    .swiper-container {
        display: block;
    }

    .cat {
        left: -100%;
    }


    .breadcrumb-top {
        display: none;
    }

    .event_extra {
        margin: 0;
        width: 100%;
    }

    .form-group-width {
        width: 75% !important;
    }

    .box-date input[type='time'],
    .box-date input[type='date'] {
        width: 300px !important;

    }

    .box_2nd {
        height: 300px;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
    }

    .grid-2 {
        grid-template-columns: 0.5fr 1fr 0.75fr;
        margin: 0 3vw;
    }

    .box-width {
        max-width: 90vw;
    }

 

    .time-line-box .status__left small {
        left: 13%;
    }


    .menu-toggle {
        display: none;
    }


    .search-bar svg {
        left: 20px;
    }

    .grid-2-columns {
        grid-template-columns: 1fr 1fr;
    }

    .box-width {
        max-width: 60vw !important;
    }

    .grid-3-columns {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .swiper-slide {
        text-indent: 0px;
        font-size: 0.9rem;
        width: var(--timeline-normal-width-desktop);
    }

    .swiper-slide__left {
        width: var(--timeline-start-width-desktop) !important;
    }

    .time-line-box-success .status__right small {
        right: -40% !important;
    }

    .time-line-box {
        visibility: visible;
    }

    .time-line-box .status {
        width: var(--timeline-normal-width-desktop) ! important;
    }

    .time-line-box .status__left {
        width: var(--timeline-start-width-desktop) ! important;
    }

    .time-line-box .status__left span:before {
        left: 12%;
    }

    .time-line-box .status__right {
        width: var(--timeline-start-width-desktop) ! important;
    }

    .back-next button {
        position: absolute;
        top: 90vh;
    }

        

    .cat {
        left: -40%;
    }

}

@media screen and (min-width: 1400px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }


    .grid-2 {
        grid-template-columns: 0.25fr 1fr 1fr;
        justify-content: center !important;
        margin: 0 18vw;
    }

    .back-next button {
        position: absolute;
        top: 70vh;
    }

    .back-next button:nth-child(1) {
        position: absolute;
        left: 70px;
    }

    .back-next button:nth-child(2) {
        position: absolute;
        right: 70px;
    }
}