* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}


body {
    width: 100%;
    height: auto;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    /* background-image: url("images/signinbg.png"); */
    background: #a5c0d4 !important;
    /* background-size: auto 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat; */

}



button {
    cursor: pointer;
}

.section-bottom a,
.section-bottoms a {
    color: #43A4D7 !important;
}

.wrapper {
    width: 500px;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 90vw;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #FFFBFB;
    border-radius: 40px;
    text-align: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

.wrapper img {
    max-width: 15rem;
    max-height: 15rem;
    vertical-align: middle;
}

.wrapper header {
    padding-top: 0%;
}

.wrapper a {
    color: #43A4D7;
    text-decoration: none;
}

.wrapper a:hover {
    text-decoration: underline;
}

.wrapper form {
    margin: 20px 0px 0;
}

form .field {
    width: 100%;
    margin: 0px;
    padding: 6px 0;
}

.field input {
    width: 100%;
    height: 100%;
    padding: 5px 25px;
    margin-top: 0;
    margin-bottom: 5px;
    caret-color: #43A4D7;
    border-radius: 20px;
    border: 1px solid #bfbfbf;
    border-bottom-width: 2px;
    transition: all 0.2s ease;
    backface-visibility: hidden;
    /* display: block; */
}

form {
    padding-left: 30px;
    padding-right: 30px;
}

form input::placeholder {
    color: #bfbfbf;
}

input:-webkit-autofill:placeholder {}

input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
    border-color: #7cd1ff;
    z-index: -1 !important;
}

input:focus {
    transition: background-color 5000s ease-in-out 0s;
}

input::selection {
    background-color: rgb(235, 242, 250);
}

.input__error {
    border-color: #ED1D24;
}

.form_icon__error {
    margin-right: 10px;
}



@keyframes slide {
    0% {
        height: 5px;
        opacity: 0;
        overflow-y: hidden;
    }

    50% {
        height: 12px;
        opacity: 0.25;
        overflow-y: hidden;
    }

    100% {
        height: 100%;
        opacity: 1;
        overflow-y: visible;
    }
}



.flash-message {
    text-align: left;
    color: #ED1D24;
}

.fa-eye {
    position: absolute;
    right: 10px;
    z-index: 100;
}

.fa-eye-slash {
    position: absolute;
    right: 10px;
    z-index: 100;
}

.pass-txt {
    font-size: small;
}

.sign-txt {
    font-size: small;
    padding-top: 4%;
}

form input[type="submit"],
form input[type="button"] {
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: small;
    margin-top: 0px;
    color: #fff;
    padding: 10;
    border-radius: 30px;
    background: #43A4D7;
    border: none;
    cursor: pointer;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.1); */
}

form input[type="submit"]:hover,
form input[type="button"]:hover {
    background: #79b0cc;
}

.pass-txt {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.remember-checkbox {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 10px;
}

.text-checkbox {
    margin: 0;
}

.section-or {
    /* background-color: #2E4B59; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.straight-line {
    position: relative;
    top: -8px;
    width: 200px;
    height: 1px;
    border-bottom: 1px solid black;
}

.straight-line-or {
    position: relative;
    z-index: 999;
    background-color: white !important;
}

.btn-login {
    padding: 5px 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
    border-radius: 30px;
    margin-bottom: 15px;
    border: 1px solid rgb(167, 166, 166);
}

.btn-login:hover {
    /* add very small box-shadow */
    box-shadow: 0 0 2px 2px #43A4D7;
    border: none !important;
    outline: none !important;
}

.btn-steam {
    background-color: #2a475e;
    color: #fff;
}

.btn-steam:hover {
    /* add very small box-shadow */
    box-shadow: 0 0 2px 2px #43A4D7 !important;
    border: none !important;
    outline: none !important;
}

.btn-login p {
    margin: 0;
}

.image-login {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.section-bottom {
    margin-top: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: smaller;
}

.section-bottoms {
    margin-top: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
}

label.placeholder-moves-up-container {
    margin: 0px 0;
    position: relative;
    width: 100%;
    display: inline-block;
}

span.placeholder-moves-up {
    padding: 8px;
    pointer-events: none;
    position: absolute;
    left: 15px;
    top: 0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.field input {
    height: 38px !important;
}

.field input:focus {
    border: none !important;
    outline: none !important;
    box-shadow: 0 0 0 1px #43A4D7;
}

.field input:not(:-webkit-autofill):not(:focus):invalid {
    border: none !important;
    outline: none !important;
    box-shadow: 0 0 0 1px rgb(186, 183, 183);
    z-index: -1;
}

.field-error-message,
.flash-message {
    color: #ED1D24;
    text-align: left;
    margin-top: 5px;
    opacity: 0;
    animation: slide 0.5s ease forwards;
    animation-iteration-count: 1;
    -prefix-animation: slide 0.5s ease forwards;
}

.input__error {
    border-color: #dc3545;
}

.form_icon__error {
    margin-right: 10px;
}



.flash-message {
    text-align: left;
    color: #dc3545;
}


/* Adding new CSS for placeholder animation */

input:focus+span.placeholder-moves-up,
input:not(:focus):valid+span.placeholder-moves-up {
    transform: translateY(-50%);
    padding: 0px 0px;
    z-index: 99 !important;
    background-color: white;
}

input:focus+span.placeholder-moves-up {
    color: #43A4D7;

}



input:-webkit-autofill+span.placeholder-moves-up {
    transform: translateY(-50%);
    z-index: 99 !important;
    opacity: 1;
    padding: 0;
    background-color: white;
}

input:not(:-webkit-autofill):invalid+span.placeholder-moves-up {
    transform: translateY(-50%);
    opacity: 1;
    padding: 0;
    background-color: white;
    z-index: 99 !important;
}


/* media query for screen > 1000px */

@media screen and (min-width: 992px) {
    body {
        width: 100%;
        height: 100vh;
        display: flex;
        padding: 60px 0;
        background-size: 100vw 100vh;
        align-items: center;
        justify-content: center;
        background-image: url("./signinbg.png");
    }

    .wrapper {
        width: 500px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 0px;
        margin-right: 0px;
        background: #FFFBFB;
        border-radius: 40px;
        text-align: center;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    }
}

@keyframes bobbing {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-16px);
    }

    100% {
        transform: translateY(0);
    }
}

/* .motion-logo {
    display: inline-block;
    animation: bobbing 1s ease-in-out 2;
    will-change: transform;
    backface-visibility: hidden;
}

.motion-logo:hover {
    animation-play-state: paused;
} */

/* 1. Pulsing button */
/* input[type='submit'] {
    animation: pulse 1s 3;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(52, 152, 219, 0.4);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(52, 152, 219, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(52, 152, 219, 0);
    }
} */
