@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.text-center {
    text-align: center;
}

div.navbar-placeholder {
    height: 5vh;    
    width: 100%;
}

.d-none {
    display: none;
}

.color-text-success {
    color: #5DBB63;
}

.color-border-success {
    border: 3px solid #43A4D7 !important;
    border-radius: 20px;
}

.color-border-success-dotted {
    border-width: 3px !important;
    border-style: dashed  !important;
    border-radius: 20px;
}

.squared-box {
    border-width: 1px;
    border-style: solid;
}

.object-fit-cover{
    object-fit: cover;
}

.cursor-pointer{
    cursor: pointer;
}

.rounded-box {
    border-radius: 30px 30px;
    border-width: 1px;
    border-style: solid;
}

.rounded-box-thickness {
    border-width: 3px !important;
}

.rounded-box-turtle {
    border-color: #8CCD39;
}

.rounded-box-dolphin {
    border-color: #43A4D7;
}

.rounded-box-starfish {
    border-color: #F25D7B;
}

.rounded-box-mermaid {
    border-color: #2E4B59;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* Adjust the maximum width as needed */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.d-none {
    display: none;
}

.d-none-at-mobile {
    display: none;
    margin: auto;
}

.d-centered-at-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar {
    height: 9vh;
    display: flex;
    justify-content: space-between;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background-color: white;
    position: absolute !important;
    top: 0 !important;
    width: 100%;
    z-index: 999;
}

.mobile-navbar {
    position: fixed;
    top: 8vh;
    width: 100vw;
    z-index: 999;
    background-color: white;
    padding-top: 20px;
}

.hover-bigger,
.navbar img,
.navbar svg,
nav img,
nav svg {
    cursor: pointer;
}

.hover-bigger:hover,
.navbar img:hover,
nav img:hover,
.navbar svg:hover,
nav svg:hover {
    transform: scale(1.1);
}

.navbar img:active,
nav img:active,
.navbar svg:active,
nav svg:active {
    transform: scale(1.1);
}

.navbar .nav-buttons {
    display: none;
}

.menu-toggle {
    display: block;
}

.search-bar {
    position: relative;
}

.search-bar input {
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 90px;
    width: 450px;
    max-width: 80vw;
    /* caret-color: #43A4D7;
color: #43A4D7; */
}

.search-bar svg {
    position: absolute;
    top: 12px;
}

input[type="submit"],
input#submit,
button#submit,
.oceans-gaming-default-button {
    width: 200px;
    padding-top: 12px;
    padding-bottom: 13px;
    font-size: normal;
    margin-top: 0px;
    color: #fff;
    text-align: center;
    cursor: submit;
    padding: 10px;
    border-radius: 30px;
    background: #43A4D7;
    border: none;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.1); */
}

.oceans-gaming-default-button {
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
}

.oceans-gaming-default-button:click {
    border: 0px solid black;
}

.w-70s{
    width: 100%;
}

.grid,
.grid-2-at-screen {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    justify-content: space-between;
}

.grid-2 {
    gap: 10px;
}

@media screen and (min-width: 992px) {
    .payment-summary {
        padding-left: 40px;
        padding-right: 40px;
    }

    .flexbox {
        display: flex;
        justify-content: space-between;
    }

    .search-bar {
        display: block;
    }

    .search-bar input {
        padding-left: 60px;
    }

    .navbar .nav-buttons {
        display: flex;
        flex-wrap: nowrap !important;
    }

    .d-none-at-mobile {
        display: block;
    }

    .menu-toggle {
        display: none;
    }

    .d-centered-at-mobile {
        display: none;
    }

    .search-bar svg {
        left: 20px;
    }

    .w-70s{
        width: 70%;
    }

    .grid-2-at-screen {
        grid-template-columns: 1fr 1fr;
    }
}

a,
a:hover {
    color: black !important;
    text-decoration: none !important;
}

.swal2-icon {
    margin-right: 10px !important;
}

.swal2-container,
.modal {
    z-index: 9999 !important;
}

.swal2-popup{
    border-radius: 40px !important;
    font-size: 14px !important;
    background-color: #f7fbfd !important;
}

.page-item.active .page-link {
    background-color: #43A4D7 !important;
    border-color: #43A4D7 !important;
}

.swal2-confirm, .swal2-confirm:active, .swal2-confirm:visited, .swal2-cancel, .swal2-deny{
    border-radius: 15px !important;
    outline: none !important;
}

@media screen and (min-width: 1300px) { 
    .w-70s{
        width: 70%;
    }
}

.btn-link{
    text-decoration: none !important;
    color: black !important;
}

.dropdown-item:active {
    color: white !important;
}
